<div class="crumbs-wrapper">
    <span> DEALS /</span> <a class="active-crumb">&nbsp;ALL DEALS</a>
</div>


<div class="review-header mt-3">
    <ul class="review-header_params nav" id="myTab" role="tablist">
        <li class="nav-item px-2">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Total" 
                role="tab" aria-controls="home" aria-selected="true" (click)="ListTypeChange('all')">Total
                <span>{{_GetoverviewSummary?.Total || "0"}}</span>
            </a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Active" 
                role="tab" aria-controls="profile" aria-selected="false" (click)="ListTypeChange('running')">Active
                <span>{{_GetoverviewSummary?.Running || "0"}}</span>
            </a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Inactive"
                 role="tab" aria-controls="contact" aria-selected="false" (click)="ListTypeChange('upcoming')">Upcoming
                <span>{{_GetoverviewSummary?.Upcoming || "0"}}</span>
            </a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Rejected"
                 role="tab" aria-controls="contact" aria-selected="false" (click)="ListTypeChange('rejected')"> Rejected
                <span>{{_GetoverviewSummary?.Rejected || "0"}}</span>
            </a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Drafts" role="tab" aria-controls="contact"
            aria-selected="false" (click)="ListTypeChange('draft')"> Drafts
            <span>
                {{_GetoverviewSummary?.Draft || "0"}}
            </span></a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#paused"
                 role="tab" aria-controls="contact" aria-selected="false" (click)="ListTypeChange('paused')">Paused
                <span>{{_GetoverviewSummary?.Paused || "0"}}</span>
            </a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Expired"
                 role="tab" aria-controls="contact"
            aria-selected="false" (click)="ListTypeChange('expired')">Expired
            <span>
                {{_GetoverviewSummary?.Expired || "0"}}
            </span></a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#approval"
                 role="tab" aria-controls="contact"
            aria-selected="false" (click)="ListTypeChange('approvalpending')">Approval Pending
            <span>
                {{_GetoverviewSummary?.ApprovalPending || "0"}}
            </span></a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#sold"
                 role="tab" aria-controls="contact"
            aria-selected="false" (click)="ListTypeChange('soldout')">Sold out
            <span>
                {{_GetoverviewSummary?.SoldOut || "0"}}
            </span></a>
        </li>
    </ul>
    <div class="btn-container">
        <button class="btn primary-btn" [routerLink]="['/deals/add']" 
            routerLinkActive="router-link-active" >Create New Deal</button>
    </div>
</div>


<div class="mt-3 table-responsive border-td">
    <table class="table table-borderless bg-white table-responsive{">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Date Created</th>
                <th scope="col" *ngIf="isRejected">Rejection Reasons</th>
                <th scope="col" *ngIf="isRejected">Other Comment</th>
                <th scope="col" *ngIf="!isRejected">Price</th>
                <th scope="col" *ngIf="!isRejected">Sales Price</th>
                <th scope="col" *ngIf="!isRejected">Quantity</th>
                <th scope="col" *ngIf="!isRejected">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let TItem of DealsData; let i = index">

                <td>
                    {{i +1 }}
                </td>
                <td>
                    <img class="br" src="{{TItem.ImageUrl}}" class="img item-Image bd bd-2" [style.border-color]="TItem.StatusC">
                </td>
                <td>{{TItem.Title}}</td>
                <td>{{TItem?.CreateDate  | date: 'dd-MM-yyyy' || "--"  }}</td>
                <td *ngIf="isRejected">{{TItem.RejectionComment}}</td>
                <td *ngIf="isRejected">{{TItem.ApproverComment}}</td>
                <td *ngIf="!isRejected">{{TItem.ActualPrice || '--'  | number: '.2'}}</td>
                <td *ngIf="!isRejected">{{TItem.SellingPrice || '--'  | number: '.2'}}</td>
                <td *ngIf="!isRejected">{{TItem.TotalAvailable || '--'}}</td>
                <td *ngIf="!isRejected">{{TItem.StatusName || '--'}}</td>
                <td>
                    <a href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        <i-feather name="more-horizontal" class="small-icon primary-text"></i-feather>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" *ngIf="TItem.StatusCode == 'deal.published' && isPauseResume" (click)="pauseDeal(TItem,4)">Pause</a>
                        <a class="dropdown-item fs-12" (click)="PreviewDeal(TItem,dealspreviewmodal);">Preview</a>
                        <a class="dropdown-item fs-12 text-danger" (click)="DeleteDeal(TItem)">Delete</a>
                       <!-- Implementation Paused -->
                        <a class="dropdown-item fs-12" (click)="EditDeal(TItem)" 
                            >Edit/Publish Draft</a>
                    </div>
                </td>

            </tr>

        </tbody>
    </table>

    <div class="table-footer">
        <div class="table-footer__inner">

            <span class="px-2">Showing 1 to {{PageRecordLimit}} of {{TotalRecords}}</span> 
                
            <div class="dropdown px-2">
                Show
                <select class="customized-select" [(ngModel)]="PageRecordLimit"
                    (ngModelChange)="WatchChange($event)">
                <option *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit" [ngValue]="TItem">
                    {{TItem}}
                </option>
                </select>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <ng-container  *ngIf="pager?.pages && pager?.pages.length">
                <nav>
                    <ul class="custom-nav">
                        <li class="mx-2" 
                            (click)="setPage(pager.currentPage - 1)"
                            [ngClass]="{disabled:pager.currentPage === 1}">
                            <a>
                            <i-feather name="chevrons-left" class="pagination-icons xsm-icon"></i-feather>
                            </a>
                        </li>
                        <li class="nav-count px-2" *ngFor="let page of pager.pages" 
                            [ngClass]="{activePage: pager.currentPage === page}">
                            <a class="page-link" href="javascript:void(0)" (click)="setPage(page)" 
                                >{{page}}</a>
                        </li>
                        <li class="mx-2" [ngClass]="{disabled: pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.currentPage + 1 )">
                            <i-feather name="chevrons-right" class="pagination-icons xsm-icon"></i-feather>
                            </a>
                        </li>
                    </ul>
                </nav>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #dealspreviewmodal let-modal>
    <ng-container>
        <div>
            <div class="modal-header border-0">
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>

            <div class="modal-body store-added-success-modal pb-5">
                <div class="p-4 d-flex justify-content-center">

                    <div class="card p-2" style="border:2px solid #C0CCDA ;width: 290px;">
                        <div>
                            <div class="d-flex flex-coloumn align-items-center justify-content-center ">
                                <img src="{{_Preview.ImageUrl}}" width="255px" height="220px" alt="Congratulations">
                            </div>
                            <div class="mt-4">
                                <label for="" class="labelsone">
                                    {{_Preview.Title}}
                                </label>
                                <p>
                                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                                    <span class="maptitle">
                                        {{_Preview.AccountAddress}}
                                    </span>
                                </p>
                            </div>
                            <div class="custom-card-footer mb-0 d-flex align-items-center">
                                <div class="discount-per mr-4 d-flex justify-content-center">
                                    <button class="btn primary-btn">
                                        {{_HelperService.GetPercentage(_Preview.ActualPrice,_Preview.SellingPrice)}} % off
                                    </button>
                                </div>
                                <div class="text-black actualprice"><span>₦</span> {{_Preview.SellingPrice}} </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </ng-container>
</ng-template>



<ng-template #pausedeal let-modal>
    <ng-container>
        <div class="modal-header border-0">
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body store-added-success-modal pb-5">
            <div class="d-flex flex-column align-items-center justify-content-center ">
                <img src="assets/images/utils/Congratulations.png" width="110px" height="110px" alt="Congratulations">
                <p>New Store Added</p>
                <span>You have successfully paused your deal</span>
            </div>
        </div>
    </ng-container>
</ng-template>