.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "YES";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*red color
    -------------------------------
    */


/* Rounded sliders */
.wd-200 {
    width: 200px;
}

.wd-55 {
    width: 55px;
}

.ht-50 {
    height: 50px;
}

.ht-100 {
    height: 100px;
}

.bd {
    border: 1px solid rgba(72, 94, 144, 0.16);
}

.bd-2 {
    border-width: 2px;
}
.primary-btn:hover{
    background-color:#B11A83;
    color: #FFFFFF;
}

.nav-link span{
    background: #C0CCDA;
    border-radius: 4px;
    font-size: 14px;
    margin: 0.25rem;
    min-width: 2rem;
    text-align: center;
}
.nav-link{
    color: #586478 !important;
    display: flex;
    align-items: center;
    font-family: 'Roboto Regular';
    padding:0 !important;
}

.nav-link.active{
    color: #B11A83 !important;
}
.nav-link.active span{
    color: #FFFFFF;
    background-color: #B11A83;
}
.item-Image{
    width: 50px;
}
td{
    vertical-align: middle;
    padding: 0.75rem
}

@media(max-width:1024px){
    .review-header_params li{
        margin-bottom: 0.25rem;
    }
}
@media(max-width:425px){
    .btn-container{
        width: 100%;
        margin-top: 0.5rem;
    }
    .primary-btn{
        width: 100%;
    }
}

