.w-55{
    width: 55%;
}  
.w-45{
    width: 45%;
}  
.text-yellow{
    color: #FFC20A;
}
.auth-container {
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/images/background/backgroundImg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.form-wrapper{
    background-color:#fff;
    max-width: 30rem;
    padding: 2rem;
    box-shadow: -2px -2px 5px rgba(30, 39, 46, 0.1), -12px 10px 20px 5px rgba(30, 39, 46, 0.15);
    border-radius: 4px;
    overflow-y: scroll;
}
.text-wrapper{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1
        )), linear-gradient(97.58deg, rgba(94, 100, 137, 0.2) 0%, rgba(93, 104, 163, 0.1) 100%);
    /* opacity: 0.3; */
    color: #FFF;
    font-size: 44px;
    width: 100%;
}
input{
    border-radius: 2px !important;
}
.password-input input{
    border-right: 0;
    border-radius: 2px !important;
}
.password-input span{
    background-color: inherit;
    border-left: 0;
    border-radius: 2px !important;
}
a{
    text-decoration: none;
}
  
.auth-item {
    background: #fff;
    z-index: 1;
    border-radius: 5px;
}

.auth-item .input-group input {
    border-right: 0;
}

.auth-item .input-group .input-group-text {
    background: transparent;
    border-left: none;
}

 ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.password-eye-icon {
    width: 17px;
    color: #7987A1;
}


/* Large desktops and laptops */

@media (min-width: 1300px) {
    .auth-container-footer {
        display: block;
    }
}

@media (min-width: 1200px) and (max-width: 1299px) {

    .auth-container-footer-item {
        width: 50%;
        font-size: 35px;
        color: #fff;
        font-weight: 700;
    }
}


/* Landscape tablets and medium desktops */

@media (min-width: 1024px) and (max-width: 1199px) {
    .auth-container-footer-item {
        width: 50%;
        font-size: 30px;
        color: #fff;
        font-weight: 700;
    }
}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1023px) {
    .auth-container-footer-item {
        width: 44%;
        font-size: 30px;
        color: #fff;
        font-weight: 700;
    }
}


/* Portrait tablets and small desktops */

@media (min-width: 920px) and (max-width: 991px) {
    .auth-container-footer-item {
        width: 44%;
        font-size: 27px;
        color: #fff;
        font-weight: 700;
    }
}

@media (max-width: 768px){
    .auth-container-footer {
        display: none;
    }
    .w-55{
        display: none !important;
    }
    .w-45{
        align-items: center;
        width: 100% !important;
    }
    .auth-container {
        padding: 1rem;
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .auth-container-footer {
        display: none;
    }
}

@media (max-width: 650px) {
    .auth-container-footer {
        display: none;
    }
}

@media (max-width: 568px) {
    .auth-container-footer,
    .back-arrow {
        display: none;
    }
}



.auth-item-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 4px;
}

.auth-item-subtitle {
    font-size: 12px;
    color: #6c757d;
}

.auth-item-subtitle a {
    font-size: 12px;
    font-weight: 600;
    color: #303F9F;
    text-decoration: none;
}

.dropdown-item-auth {
    cursor: pointer;
}

.dropdown-item-auth img {
    width: 32px;
}

.dropdown-item-auth span {
    padding-left: 12px;
}

.dropdown-item-auth-selected {
    width: 20px;
}

.mt-70 {
    margin-top: 70px;
}

.btn-custom {
    background-color: #B11A83;
    color: white;
}

.btn-customs {
    background-color: white;
    color: #B11A83;
    border: 2px solid #B11A83;
}

.footer {
    margin-top: 50px;
}

::placeholder {
    font-size: 14px;
}

.s-20 {
    font-size: 20px;
}

.s-14 {
    font-size: 14px;
}

.s-12 {
    font-size: 12px;
}
