<div class=" h-v d-flex justify-content-between auth-container" id="auth-container">
    
    <div class="w-55 d-flex flex-coloumn align-self-center">
        <div class="text-wrapper">
            <p class="px-5">
                <span class="text-yellow">Grow</span> your 
                    <span class="text-yellow">business</span> with <br />ease and confidence<br />
                     from anywhere
            </p>
        </div>
    </div>
    <div class="w-45 d-flex flex-column align-self-center">
        <div class="form-wrapper">
            <div class="pt-4">
                <img src="assets/images/logo/dealday_logo.svg" class="img-fluid img-logo">
            </div>
            <section *ngIf='step==1'>

                <form [formGroup]="_Form_Login" (ngSubmit)="_Form_Login_Process(_Form_Login.value)" role="form">
                    <div class="mt-3 auth-item-title">
                        Welcome to dealday by ThankUcash
                    </div>
                    <div class="auth-item-subtitle mb-3">
                        Don't have an account?
    
                        <a routerLink="{{_HelperService.AppConfig.Pages.System.Register}}" class="anchorhref">Create Account</a>
    
                    </div>
    
                    <div class="form-group mt-5" [ngClass]="{'text-danger':!_Form_Login.controls['username'].valid && _Form_Login.controls['username'].touched}">
                        <label>Business Email Address</label>
                        <input tabindex="1" type="text" name="username" maxlength="256" placeholder="We will send a verification code to this email address" 
                                class="form-control" formControlName="username">
                    </div>
                    <div class="form-group mt-5" 
                        [ngClass]="{'text-danger':!_Form_Login.controls['password'].valid && _Form_Login.controls['password'].touched}">
                        <div class="d-flex justify-content-between mg-b-5">
                            <label class="mg-b-0-f">Password</label>
                            <a tabindex="4" class="tx-13 fs-10" routerLink="{{_HelperService.AppConfig.Pages.System.ForgotPassword}}">
                                Forgot Password?
                            </a>
                        </div>
                        <div class="input-group mb-3 password-input">
                            <input tabindex="2" [type]="ShowPassword ? 'text' : 'password'" name="password" 
                                    maxlength="50" class="form-control" formControlName="password">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2" (click)="ToogleShowHidePassword()">
                                    <i-feather [name]="ShowPassword ? 'eye' : 'eye-off'" class="password-eye-icon"></i-feather>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <input class="styled-checkbox" id="all-stores"type="checkbox">
                        <label for="all-stores">Remember Password</label>
                    </div>
                    <button tabindex="3" type="submit" class="btn btn-pink btn-block my-5" 
                            [disabled]="!_Form_Login.valid || _Form_Login_Processing" 
                            (click)="_Form_Login_Process(_Form_Login.value)">
                        <span *ngIf="!_Form_Login_Processing">
                            Login
                        </span>
                        <span *ngIf="_Form_Login_Processing">
                            <i class="fa fa-spinner fa-pulse fa-fw"></i>
                            Please wait...
                        </span>
                    </button>
                </form>
            </section>

             <!-- section five -->
        <section *ngIf='step==5'>
            <form action="" role="form">
                <div class="image d-flex justify-content-center">
                    <img src="assets/images/logo/shield.png" alt="" width="80" height="80">
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <h5>Authenticate your Account</h5>
                </div>
                <div class="align-items-center">
                    <label for="" class="s-12">
                        Protecting your account is our top priority, enable 2FA now to keep your account secured anytime
                        you login.
                    </label>
                </div>
                <div>
                    <button type="submit" class="btn btn-customs btn-block mt-4 s-14">
                        Skip
                    </button>
                    <button type="submit" class="btn btn-custom btn-block mt-4 s-14" (click)="EnableFA()">
                        Enable 2FA
                    </button>
                </div>

            </form>


        </section>
        <!-- section six -->
        <section *ngIf='step==6'>
            <form action="" role="form">
                <div class="image d-flex justify-content-center">
                    <img src="assets/images/logo/shield.png" alt="" width="80" height="80">
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <h4>Enable 2 Factor Authentication</h4>
                </div>
                <div class="align-items-center mt-3">
                    <label for="" class="s-12">
                        Protecting your account is our top priority, enable 2FA now to keep your account secured anytime
                        you login.
                        <span style="font-weight: bolder;">
                            A 6 digit code has been sent to trebet@gmail.com
                        </span>
                    </label>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6}"></ng-otp-input>
                </div>
                <div>
                    <button type="submit" class="btn btn-custom btn-block mt-4 s-14" (click)="EnableTwo()">
                        Enable 2FA
                    </button>
                </div>

            </form>


        </section>

        
        </div>
    </div>
    
</div>