.hcx-locator {
    position: absolute;
    z-index: 1;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 9px;
    width: 90%;
}

.hcx-locator-input {
    border-radius: 4px;
    padding: 16px 12px;
    background: #fffffff0;
    color: #000;
}