    <div class="crumbs-wrapper mb-3">
      <span>DEALS / </span> <a class="active-crumb">ORDERS</a> 
   </div> 

     <!-- :: Implementation Archived -->
      <!-- <div class="d-flex justify-content-between">
        <div class="px-2">
          <div class="form-inline">
            <div class="input-group input-group-sm mr-3">
              <input type="text" class="form-control search-input" [value]="SearchParameter" maxlength="100"
                      placeholder="Search"
                (keyup)="RunSearch($event)">
              <div class="input-group-append">
                <button class="btn btn-outline-light" type="button"
                  (click)="RunSearch($event)">
                  <i-feather name="search" class="xsm-icon"></i-feather>    
              </button>
              </div>
            </div>
          </div>
        </div>

        <div class="px-2">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-light">SortBy</button>
            <button type="button" class="btn btn-light">Latest First</button>
            <button type="button" class="btn btn-light">Older First</button>
          </div>
        </div>
      </div> -->

      <div class="mt-3 pb-3">
        <div class="card-header">
          <div class=" no-gutters">
            <div class="d-sm-flex justify-content-between">
              <span class="tx-semibold mg-t-5">Total Orders<span class="text-muted tx-normal">
                  ({{TotalRecords}})</span></span>
            </div>
          </div>
        </div>

        <div class="card-body p-0 table-responsive border-td">
          <table class="table table-borderless bg-white">
            <thead>
              <tr>
                <th>Order ID</th>
                <th>InvoiceID</th>
                <th class="wd-100">Placed On</th>
                <th class="wd-100">Carrier</th>
                <th class="wd-100">Customer</th>
                <th class="text-right"> Items </th>
                <th class="text-center">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let TItem of OrderData">
                <td class="">
                  <div>
                    <span class="wd-200 route-hover cursor-pointer">Order Id{{ TItem.ReferenceId || "--" }}</span>
                  </div>
                  <div class="">
                    <span class="text-lowercase StatusBadge-" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
                  </div>
                </td>
                <td>
                  <div class="tx-14 route-hover cursor-pointer">INV {{ TItem.InvoiceNumber || "--"}}</div>
                </td>
                <td class="wd-100">
                  <div>
                    <span class="">{{ TItem.CreateDate|| "--"}}</span>
                  </div>
                </td>      
                <td class="wd-100">
                  <div>
                    <span class="">{{ TItem.CarrierName || "--" }}</span>
                  </div>
                  <div class="tx-12">
                    {{TItem.CarrierMobileNumber || "--"}}
                  </div>
                </td>
                <td class="wd-100">
                  <div>
                    <span class="">{{ TItem.CustomerDisplayName || "--" }}</span>
                  </div>
                  <div class="tx-12">
                    {{TItem.CustomerMobileNumber || "--"}}
                  </div>
                </td>

                <td class="text-right"><span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                  {{TItem.ItemCount || "--"}} </td>
      
                <td class=" text-center">
                  <div>
                    <span class="">{{ TItem.TotalAmount | number: "1.2-2" || "--" }}</span>
                </div>
      
               </td>
   
              </tr>
            </tbody>
          </table>
        </div>
      <div class="table-footer">
        <div class="table-footer__inner">

            <span class="px-2">Showing 1 to 1 of {{TotalRecords}}</span> 
                
            <div class="dropdown px-2">
                Show
                <select class="customized-select" [(ngModel)]="PageRecordLimit"
                      (ngModelChange)="WatchChange($event)">
                  <option *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit" [ngValue]="TItem">
                    {{TItem}}
                  </option>
                </select>
            </div>
        </div>

        <div class="d-flex justify-content-end">
          <ng-container  *ngIf="pager?.pages && pager?.pages.length">
              <nav>
                  <ul class="custom-nav">
                      <li class="mx-2" 
                        (click)="setPage(pager.currentPage - 1)"
                        [ngClass]="{disabled:pager.currentPage === 1}">
                        <a>
                          <i-feather name="chevrons-left" class="pagination-icons xsm-icon"></i-feather>
                        </a>
                      </li>
                      <li class="nav-count px-2" *ngFor="let page of pager.pages" [ngClass]="{activePage: pager.currentPage === page}">
                          <a class="page-link" href="javascript:void(0)" (click)="setPage(page)" 
                              >{{page}}</a>
                      </li>
                      <li class="mx-2" [ngClass]="{disabled: pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1 )">
                          <i-feather name="chevrons-right" class="pagination-icons xsm-icon"></i-feather>
                        </a>
                      </li>
                  </ul>
              </nav>
          </ng-container>
      </div>
    </div>
</div>
      
      