.nav-link span{
    background: #C0CCDA;
    border-radius: 4px;
    padding: 0.15rem;
    font-size: 14px;
    margin: 0.25rem;
}
.nav-link{
    color: #586478 !important;
    display: flex;
    align-items: center;
    font-family: 'Roboto Regular';
    padding:0 !important;
}

.nav-link.active{
    color: #B11A83 !important;
}
.nav-link.active span{
    color: #FFFFFF;
    background-color: #B11A83;
}
.review-header{
    background: #FFFFFF;
    border: 0.5px solid #C0CCDA;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 0.55rem;
    align-items: center;
}
.btn-outline-light{
    border-color: #b4bdce;
    color: #7987a1;
}
.search-input{
    height: 35px !important;
}
.btn-xs {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.25rem;
}
.pointer{
    cursor: pointer;
}
.filter-body{
    width: 400px;
}

td,th{
    padding: 0.75rem;
}