.sale-amount{
    background-color: #10B759;
    padding: 0.75rem;
    color: white;
    border-radius: 5px;
}
.small-icon{
    width: 20px;
    height: 20px;
}
.total-orders{
    background-color: #0168fa;
    padding: 0.75rem;
    color: white;
    border-radius: 5px;
}