<div class="crumbs-wrapper">
    <span>DEALS / </span> <a class="active-crumb">REDEEMED ORDERS</a> 
 </div>  
<div class="mt-3">
    <div class="p-3 bg-white">
        <div class="d-flex">
            <div class="d-flex align-items-center">
                <div class="px-2">
                        <span class="total-orders"> 
                            <i-feather name="dollar-sign" class="small-icon"></i-feather>
                        </span>
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <p class="text-muted mb-0">Total Orders</p>
                    <h6 class="text-muted mb-0">
                        <span class="text-sm"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom">
                        </span>{{OverviewData?.TotalDeliveredOrders || 0 | number: "1.0-0"}}
                    </h6>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="px-2">
                        <span class="sale-amount"> 
                            <i-feather name="dollar-sign" class="small-icon"></i-feather>
                        </span>
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <p class="text-muted mb-0">Sale Amount</p>
                    <h6 class="text-muted mb-0">
                        <span class="text-sm"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom">
                        </span>{{OverviewData?.DeliveredOredersAmount || 0 | number: "1.2-2"}}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="p-0 table-responsive border-td mt-3">
        <table class="table table-borderless bg-white">
        <thead>
        <tr>
            <th>Order ID</th>
            <!-- <th> Merchant </th> -->

            <th>InvoiceID</th>
            <!-- <th class="td-number">Ref Id</th> -->
            <th class="wd-100">Placed On</th>
            <!-- <th class="wd-150">SoldDate</th> -->
            <th class="wd-100">Delivery On</th>

            <th class="wd-100">Carrier</th>
            <th class="wd-100">Customer</th>
            <!-- <th class="wd-100">ValidTill</th> -->
            <th class="text-right"> Items </th>
            <th class="text-center">Total</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let TItem of OrderData">

            <td class="">
            <div>
                <span class="wd-200 route-hover cursor-pointer">Order Id{{ TItem.ReferenceId || "--" }}</span>
            </div>
            <div class="">
                <span class="text-lowercase StatusBadge-" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
            </div>
            </td>
            <td>
            <div class="tx-14 route-hover cursor-pointer">INV {{ TItem.InvoiceNumber || "--"}}</div>
            </td>
            <td class="wd-100">
            <div>
                <span class="">{{ TItem.CreateDate|| "--"}}</span>
            </div>
            </td>

            <td class="wd-100">
            <div>
                <span class="">{{TItem.DeliveryDate | date: 'dd-MM-yyyy' || "--" }}</span>
            </div>
            </td>

            <td class="wd-100">
            <div>
                <span class="">{{ TItem.CarrierName || "--" }}</span>
            </div>
            <div class="tx-12">
                {{TItem.CarrierMobileNumber || "--"}}
            </div>
            </td>
            <td class="wd-100">
            <div>
                <span class="">{{ TItem.CustomerDisplayName || "--" }}</span>
            </div>
            <div class="tx-12">
                {{TItem.CustomerMobileNumber || "--"}}
            </div>
            </td>

            <td class="text-right"><span [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
            {{TItem.ItemCount || "--"}} </td>

            <td class=" text-center">
            <div>
                <span class="">{{ TItem.TotalAmount | number: "1.2-2" || "--" }}</span>
            </div>
            </td>
            <td>
                <a href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    <i-feather name="more-horizontal" class="small-icon primary-text"></i-feather>
                </a>
                <div class="dropdown-menu">
                    <div [ngSwitch]="ListType">
                        <div *ngSwitchCase="2">
                            <!-- <a class="dropdown-item" href="#">Edit</a> -->
                        </div>
                        <div *ngSwitchCase="3">
                            <!-- <a class="dropdown-item" href="#">Edit</a> -->
                        </div>
                        <div *ngSwitchDefault>
                            <a class="dropdown-item" href="javascript:void(0)" 
                                (click)="OpenConfimation(TItem,'confirm')">Confirm Order</a>
                            <a class="dropdown-item" href="javascript:void(0)" 
                                (click)="cancellationModal(TItem)">Cancel Order</a>
                        </div>
                    </div>
                    <a class="dropdown-item" (click)="ViewOrder(TItem)">View Order</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="table-footer">
        <div class="table-footer__inner">

            <span class="px-2">Showing 1 to 1 of {{TotalRecords}}</span> 
                
            <div class="dropdown px-2">
                Show
                <select class="customized-select" [(ngModel)]="PageRecordLimit"
                    (ngModelChange)="WatchChange($event)">
                <option *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit" [ngValue]="TItem">
                    {{TItem}}
                </option>
                </select>
            </div>
        </div>

        <div class="d-flex justify-content-end">
        <ng-container  *ngIf="pager?.pages && pager?.pages.length">
            <nav>
                <ul class="custom-nav">
                    <li class="mx-2" 
                        (click)="setPage(pager.currentPage - 1)"
                        [ngClass]="{disabled:pager.currentPage === 1}">
                        <a>
                        <i-feather name="chevrons-left" class="pagination-icons xsm-icon"></i-feather>
                        </a>
                    </li>
                    <li class="nav-count px-2" *ngFor="let page of pager.pages" [ngClass]="{activePage: pager.currentPage === page}">
                        <a class="page-link" href="javascript:void(0)" (click)="setPage(page)" 
                            >{{page}}</a>
                    </li>
                    <li class="mx-2" [ngClass]="{disabled: pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1 )">
                        <i-feather name="chevrons-right" class="pagination-icons xsm-icon"></i-feather>
                        </a>
                    </li>
                </ul>
            </nav>
        </ng-container>
    </div>
    </div>
</div>