.btn-outline-orig{
    color: #B11A83;
    background: #FFFFFF;
    border: 1px solid #B11A83;
    border-radius: 4px;
    text-align: center;
    font-size: 0.8rem;
    width: 150px;
}  
.btn-orig{
    background: #B11A83;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.8rem;
    width: 150px;
}
.info-card{
   border-radius: 12px; 
   padding: 1rem;
  }
.bg-biege{
    background: rgba(1, 104, 250, 0.16);
}
.bg-pinkett{
    background: #FAE6F7;
}
.bg-grey-pink{
    background: #EDE4FF;
}
::ng-deep .theme-green .bs-datepicker-head {
    background-color: #B11A83 !important;
}
.btn-sm{
    font-size: 12px;
}
.small-icon{
    width: 16px;
}

@media(max-width: 769px){
    .info-card {
        margin-bottom: 1rem;
    }
}

@media(max-width: 769px){
    .action-buttons button{
    font-size: 0.75rem;
    width: 8rem;
    }
}
