<div class="container-fluid dashboard-wrapper">
    <h6 class="fw-500 fs-75">Payments</h6>

    <div class="d-flex justify-content-between pt-2 flex-wrap">
        <div>
          <h5 class="fw-500 mainColor">Overview</h5>  
        </div>
        
        <div class="d-flex justify-content-between action-buttons flex-wrap">
            <span class="px-2">
                <input type="text"
                placeholder="Select date range"
                class="form-control"
                bsDaterangepicker
                (bsValueChange)="onValueChange($event)" >
            </span>
            <span class="px-2">
                <button class="btn btn-outline-orig" (click)="withdrawModal()">Withdraw</button>
            </span>
            <span class="px-2">
                <button class="btn btn-orig" (click)="addPayment()" >Add Payment Details</button>
            </span>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-sm-3">
            <div class="info-card bg-biege">
                <span class="py-1">
                     <h6>Wallet Balance</h6>
                </span>
                <span class="py-1">
                    <h3>{{(WalletOverview?.Balance || 0 )  | number: '.2'}}</h3>
                </span> 
                <span class="py-1">Amount in Wallet</span>
            </div>
        </div>
        <div class="col-12 col-sm-3">
            <div class="info-card bg-pinkett">
                <span class="py-1">
                     <h6>Amount Recieved</h6>
                </span>
                <span class="py-1">
                    <h3 class="fw-700">{{ (PurchaseOverview?.SuccessfulTransactionsAmount || 0)  | number: '.2'}}</h3>
                </span> 
                <span class="py-1">Total amount received</span>
            </div>
        </div>
        <div class="col-12 col-sm-3">
            <div class="info-card bg-grey-pink">
                <span class="py-1">
                     <h6>Transaction failed</h6>
                </span>
                <span class="py-1">
                    <h3 class="fw-700">
                      {{ (PurchaseOverview?.FailedTransactionsAmount || 0)  | number: '.2'}}
                    </h3>
                </span> 
                <span class="py-1">Total amount failed</span>
            </div>
        </div>
    </div>

    <div class="review-header mt-4">
        <h6>Payment History</h6>
        <div>
            <span class="d-flex justify-content-between">
                <button class="btn white-btn btn-sm" (click)="exportToExcel()">
                    <i-feather name="download" class="small-icon"></i-feather>
                    Export
                </button>
            </span>
        </div>
    </div>
    <div class="table-responsive border-td mt-3">
        <table class="table table-borderless bg-white">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Deal Title</th>      
                <th scope="col">Deal Type</th>
                <th scope="col">Confirmation Date</th>
                <th scope="col">Deal Amount ( <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
                <th scope="col">Reference Number of the deal</th>
                <th scope="col">Payout to 
                    Merchant (<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>) </th>
                <th scope="col">Delivery Company</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of PaymentData; let i = index">
                    <td> {{i +1 }}</td>
                    <td >{{item?.Title}}</td>
                    <td> {{item?.DealTypeName}} </td>
                    <td>{{item?.DealPurchaseDate | date: 'dd-MM-yyyy' || "--"  }}</td>
                    <td>{{item?.Amount  | number: "1.2-2" || "--" }}</td>
                    <td>{{item?.ReferenceId}}</td>
                    <td>{{item?.MerchantAmount  | number: "1.2-2" || "--" }}</td>
                    <td>{{item?.DeliveryPartnerDisplayName}}</td>
                    <td> <span [ngClass]="CastColour(item?.StatusName)">{{item?.StatusName}}</span> </td>
                </tr>
            </tbody>
        </table>

        <div class="table-footer">
            <div class="table-footer__inner">
    
                <span class="px-2">Showing 1 to {{PageRecordLimit}} of {{TotalRecords}}</span> 
                    
                <div class="dropdown px-2">
                    Show
                    <select class="customized-select" [(ngModel)]="PageRecordLimit"
                        (ngModelChange)="WatchChange($event)">
                    <option *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit" [ngValue]="TItem">
                        {{TItem}}
                    </option>
                    </select>
                </div>
            </div>
    
            <div class="d-flex justify-content-end">
                <ng-container  *ngIf="pager?.pages && pager?.pages.length">
                    <nav>
                        <ul class="custom-nav">
                            <li class="mx-2" 
                                (click)="setPage(pager.currentPage - 1)"
                                [ngClass]="{disabled:pager.currentPage === 1}">
                                <a>
                                <i-feather name="chevrons-left" class="pagination-icons xsm-icon"></i-feather>
                                </a>
                            </li>
                            <li class="nav-count px-2" *ngFor="let page of pager.pages" 
                                [ngClass]="{activePage: pager.currentPage === page}">
                                <a class="page-link" href="javascript:void(0)" (click)="setPage(page)" 
                                    >{{page}}</a>
                            </li>
                            <li class="mx-2" [ngClass]="{disabled: pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.currentPage + 1 )">
                                <i-feather name="chevrons-right" class="pagination-icons xsm-icon"></i-feather>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </ng-container>
            </div>
        </div>

    </div>
        
</div>