<div class=" h-v d-flex auth-container" id="auth-container">
    <div class="w-55 d-flex flex-column justify-content-between">
        <div class="m-4 cursor-pointer pb-5" (click)="goBack()">
            <img src="assets/images/logo/Arrow1.png" width="30">
        </div>

        <div class="w-100 d-flex flex-coloumn align-self-center">
            <div class="text-wrapper">
                <p class="px-5">
                    <span class="text-yellow">Grow</span> your 
                        <span class="text-yellow">business</span> with <br />ease and confidence<br />
                        from anywhere
                </p>
            </div>
        </div>
        <div>
            &nbsp;
        </div>
    </div>
    
    <div class="w-45 d-flex flex-column justify-content-center">
        <div class="form-wrapper">

            <section *ngIf='stepper==1'>
                <form [formGroup]="Form_AddUser" (ngSubmit)="Form_AddUser_Process(Form_AddUser.value)" role="form">

                    <div>

                        <div>
                            <img src="assets/images/logo/dealday_logo.svg" alt="" class="img-fluid img-logo">
                        </div>
                        <div class="auth-item-title">
                            Create a Merchant Account
                        </div>

                        <div class="auth-item-subtitle mb-3">
                            Already have an account? <a routerLink="{{_HelperService.AppConfig.Pages.System.Login}}" class="anchorhref">Sign In</a>
                        </div>


                        <!-- business name -->
                        <div class="form-group">
                            <label class="d-block">Business Name</label>
                            <input type="text" class="form-control" maxlength="128" [formControl]="Form_AddUser.controls['BusinessName']">
                            <div>
                                <div class="text-danger tx-12  _600" for="BusinessName" *ngIf="Form_AddUser.controls['BusinessName'].hasError('required') && Form_AddUser.controls['BusinessName'].touched">
                                    Enter business name
                                </div>
                                <div class="text-danger tx-12 _600" for="BusinessName" *ngIf="Form_AddUser.controls['BusinessName'].hasError('minlength') || Form_AddUser.controls['BusinessName'].hasError('maxlength')">
                                    Business name must be between 4 - 256 characters
                                </div>
                            </div>
                        </div>

                        <!-- fname & lname -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="d-block">Merchant First Name</label>
                                    <input type="text" class="form-control" maxlength="128" [formControl]="Form_AddUser.controls['FirstName']" [ngClass]="{'is-invalid':!Form_AddUser.controls['FirstName'].valid && Form_AddUser.controls['FirstName'].touched}">
                                    <div>
                                        <div class="text-danger tx-12  _600" for="FirstName" *ngIf="Form_AddUser.controls['FirstName'].hasError('required') && Form_AddUser.controls['FirstName'].touched">
                                            Enter first name</div>

                                        <div class="text-danger tx-12 _600" for="FirstName" *ngIf="Form_AddUser.controls['FirstName'].hasError('minlength') || Form_AddUser.controls['FirstName'].hasError('maxlength')">
                                            first Name must be between 4 - 256 characters</div>
                                        <div class="text-danger tx-12  _600" for="FirstName" *ngIf="Form_AddUser.controls['FirstName'].hasError('pattern')">
                                            Only alpha numeric characters are allowed
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="d-block">Merchant Last Name</label>
                                    <input type="text" class="form-control" maxlength="128" [formControl]="Form_AddUser.controls['LastName']" [ngClass]="{'is-invalid':!Form_AddUser.controls['LastName'].valid && Form_AddUser.controls['LastName'].touched}">
                                    <div>
                                        <div class="text-danger tx-12  _600" for="LastName" *ngIf="Form_AddUser.controls['LastName'].hasError('required') && Form_AddUser.controls['LastName'].touched">
                                            Enter last name
                                        </div>
                                        <div class="text-danger tx-12 _600" for="LastName" *ngIf="Form_AddUser.controls['LastName'].hasError('minlength') || Form_AddUser.controls['LastName'].hasError('maxlength')">
                                            last name must be between 4 - 256 characters
                                        </div>
                                        <div class="text-danger tx-12  _600" for="LastName" *ngIf="Form_AddUser.controls['LastName'].hasError('pattern')">
                                            Only alpha numeric characters are allowed
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- business type -->
                        <div class="form-group">
                            <label for="businesstypecode">Select Business Type</label>
                            <span class="text-danger">*</span>
                            <ng-select [items]="BussinessTypes" bindLabel="label" bindValue="value" labelForId="types" placeholder="Select Business Types" clearAllText="Clear" formControlName="selectedBusinessTypes">
                            </ng-select>
                        </div>


                        <!-- email  -->
                        <div class="form-group">
                            <label class="d-block">Business Email Address</label>
                            <input type="text" class="form-control" aria-label="We will send a verification code to this email address" placeholder="We will send a verification code to this email address" [formControl]="Form_AddUser.controls['EmailAddress']" [ngClass]="{'is-invalid':!Form_AddUser.controls['EmailAddress'].valid && Form_AddUser.controls['EmailAddress'].touched}">
                            <div>
                                <div class="text-danger tx-12  _600" for="EmailAddress" *ngIf="Form_AddUser.controls['EmailAddress'].hasError('required') && Form_AddUser.controls['EmailAddress'].touched">
                                    Enter email address
                                </div>
                                <div class="text-danger tx-12 _600" for="EmailAddress" *ngIf="Form_AddUser.controls['EmailAddress'].hasError('minlength') || Form_AddUser.controls['EmailAddress'].hasError('maxlength')
                                || Form_AddUser.controls['EmailAddress'].hasError('pattern')">
                                    Invalid email address
                                </div>
                            </div>
                        </div>

                        <!-- phone number -->
                        <div class="form-group">
                            <label class="d-block">Phone Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-light" type="button">
                                        <img class="dropdown-item-auth-selected" src="assets/images/logo/nigeria_icon.png">
                                    </button>
                                </div>
                                <input type="tel" class="form-control" aria-label="We will send a verification code to this number" placeholder="We will send a verification code to this number" (keypress)="this._HelperService.PreventText($event)" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"
                                    [formControl]="Form_AddUser.controls['MobileNumber']" [ngClass]="{'is-invalid':!Form_AddUser.controls['MobileNumber'].valid && Form_AddUser.controls['MobileNumber'].touched}">
                            </div>
                            <div>
                                <div class="text-danger tx-12  _600" for="MobileNumber" *ngIf="Form_AddUser.controls['MobileNumber'].hasError('required') && Form_AddUser.controls['MobileNumber'].touched">
                                    Enter mobile number
                                </div>
                                <div class="text-danger tx-12 _600" for="MobileNumber" *ngIf="Form_AddUser.controls['MobileNumber'].hasError('minlength') || Form_AddUser.controls['MobileNumber'].hasError('maxlength')
                                    ||Form_AddUser.controls['MobileNumber'].hasError('pattern')">
                                    Mobile number must be 11 digits
                                </div>
                            </div>
                        </div>

                        <!-- create password -->
                        <div class="form-group">
                            <label class="d-block">Create Password</label>
                            <div class="row">
                                <div class="col-md-12 pd-r-15">
                                    <div class="input-group mb-3 password-input">
                                        <input *ngIf="ShowPassword" type="password" name="password" maxlength="50" class="form-control" [formControl]="Form_AddUser.controls['Password']" (input)="pwdValueChange($event.target.value)" [ngClass]="{'is-invalid':!Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}">
                                        <input *ngIf="!ShowPassword" type="text" name="password" maxlength="50" class="form-control" [formControl]="Form_AddUser.controls['Password']" (input)="pwdValueChange($event.target.value)" [ngClass]="{'is-invalid':!Form_AddUser.controls['Password'].valid && Form_AddUser.controls['Password'].touched}">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="basic-addon2" (click)="ToogleShowHidePassword()">
                                                <i-feather [name]="ShowPassword ? 'eye' : 'eye-off'"></i-feather>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="text-danger tx-12  _600" for="Password" *ngIf="Form_AddUser.controls['Password'].hasError('required') && Form_AddUser.controls['Password'].touched
                                    && (ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">
                                    Enter password </div>
                                <div class="tx-12  _600" *ngIf="!(ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">
                                    <span class="fs-10">
                                        Password must contain atleast 8 special characters. E.g A9r3&@</span>
                                </div>
                            </div>
                        </div>


                        <div class="d-flex align-items-end flex-column">
                            <div class="mt-auto p-2">
                                <button type="submit" class="btn btn-custom btn-block mt-4" [disabled]="!Form_AddUser.valid || Form_AddUser_Processing">
                                    <span *ngIf="!Form_AddUser_Processing">
                                        Almost there
                                    </span>
                                    <span *ngIf="Form_AddUser_Processing">
                                        <i class="fa fa-spinner fa-pulse fa-fw"></i>
                                        Please wait...
                                    </span>
                                    <span><img src="assets/images/logo/Arrow2.png" alt=""></span>
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </section>

            <section *ngIf='stepper==2'>

                <form [formGroup]="Form_AddDetails" (ngSubmit)="Form_AddDetails_Process(Form_AddDetails.value)" role="form">

                    <div class="form-group">
                        <app-regaddress (OnAddressSet)="AddressChange($event)"></app-regaddress>
                    </div>

                    <div>
                        <label for="">Is your Business registered?</label>
                        <div class="form-group">

                            <div class="radio float-left mr-3">
                                <label class="ui-check">
                                    <input id="false" checked type="radio" name="IsBusinessRegistered"
                                        formControlName="IsBusinessRegistered" (change)="formAction=false" value="false">
                                    <i class="dark-white"></i>
                                    No
                                </label>
                            </div>

                            <div class="radio float-left mr-3">
                                <label class="ui-check">
                                    <input id="true" type="radio" name="IsBusinessRegistered"
                                        formControlName="IsBusinessRegistered" (change)="formAction=true " value="true">
                                    <i class="dark-white"></i>
                                    Yes
                                </label>
                            </div>

                        </div>

                    </div>

                    <div class="mt-3">
                        <label for="" class="labels">Valid means of Identity</label>
                        <span class="text-danger">*</span>

                        <div *ngIf="!formAction">
                            <label for="">Upload any valid means of identification (E.g:Voter’s Card)</label>
                            <div class="imagearea mt-4 mb-4">

                                <div class="row mt-4 mb-4 ml-1 mr-1 mrcursor-pointer text-center">
                                    <div class="col text-center" style="border: #C0CCDA  dashed; cursor: pointer;">
                                        <div class="px-1 mt-3">
                                            <span (click)="fileInputno.click()">
                                                <i-feather name="file-plus"></i-feather>
                                            </span>
                                        </div>
                                        <div class="iconlabel  fw-400 tx-10 line-12 text-center">
                                            <p>Upload any valid means of identification</p>
                                            <p>{{NofileName}}</p>
                                        </div>
                                        <input type="file" #fileInputno (change)="fileChangeEvent($event,false)" accept="image/*" class="d-none" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="formAction">

                            <label for="">Please upload CAC Document</label>
                            <div class="imagearea mt-4 mb-4">

                                <div class="row mt-4 mb-4 ml-1 mr-1 mrcursor-pointer text-center">
                                    <div class="col text-center" style="border: #C0CCDA  dashed; cursor: pointer;">
                                        <div class="px-1 mt-3">
                                            <span (click)="fileInputyes.click()">
                                                <i-feather name="file-plus"></i-feather>
                                            </span>
                                        </div>
                                        <div class="iconlabel  fw-400 tx-10 line-12 text-center">
                                            <label for="">Upload CAC Document</label>
                                            <p>{{YesfileName}}</p>
                                        </div>
                                        <input type="file" #fileInputyes (change)="fileChangeEvent($event,true)" accept="image/*" class="d-none" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Referral ID (Optional)</label>
                        <div class="input-group mb-3">
                            <input tabindex="2" [type]="ShowPassword ? 'text' : 'password'" name="password" maxlength="50" class="form-control" formControlName="ReferralCode">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2" (click)="ToogleShowHidePassword()">
                                    <i-feather [name]="ShowPassword ? 'eye' : 'eye-off'"></i-feather>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label class="tx-12 tx-color-03">By clicking on create account, you agree to the
                            <span class="text-primary">
                                <a target="_blank" href="https://thankucash.com/terms">Terms of Service</a>
                            </span> and<span class="text-primary">
                                <a target="_blank" href="https://thankucash.com/privacy">Privacy Policy</a>
                            </span> of ThankUCash
                        </label>
                    </div>

                    <button type="submit" class="btn btn-custom btn-block mt-4">
                        <span *ngIf="!Form_AddDetails_Processing">
                            Create Account
                        </span>
                        <span *ngIf="Form_AddDetails_Processing">
                            <i class="fa fa-spinner fa-pulse fa-fw"></i>
                            Please wait...
                        </span>
                    </button>

                </form>

            </section>


        </div> 
    </div>

    


   
   

</div>