<div class="crumbs-wrapper">
    <span>DEALS / </span> <a class="active-crumb">SOLD DEALS</a> 
 </div>  
<div class="mt-3">
    <div class="p-3 bg-white">
        <div class="d-flex">
            <div class="d-flex align-items-center">
                <div class="px-2">
                    <span class="cancelled-orders bg-primary"> 
                        <i-feather name="x-square" class="small-icon"></i-feather>
                    </span>
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <p class="text-muted mb-0">SOLD DEALS</p>
                    <h6 class="text-muted mb-0">
                        {{_GetoverviewSummary?.Transactions || 0}}
                    </h6>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="px-2">
                    <span class="cancelled-orders bg-success"> 
                        <i-feather name="dollar-sign" class="small-icon"></i-feather>
                    </span>
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <p class="text-muted mb-0">Sale Amount</p>
                    <h6 class="text-muted mb-0">
                        <span class="text-sm"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom">
                        </span>{{_GetoverviewSummary?.Amount || 0 | number: "1.2-2"}}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="p-0 table-responsive border-td mt-3">
        <table class="table table-borderless bg-white">
        <thead>
        <tr>
            <th>Status</th>
            <th>Deal Title</th>
            <th class="wd-100">Customer</th>
            <th class="wd-100">Purchased On</th>
            <th class="wd-100">Valid Till</th>
            <th class="wd-100">Payable To Merchant ( <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>)</th>
            <th class="text-right"> Amount ( <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>) </th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let TItem of OrderData">
                <td>
                    <div>
                        <span class="text-lowercase StatusBadge-" [ngClass]="TItem.StatusBadge">{{ TItem.StatusName || "--" }}</span>
                    </div>
                </td>
                <td>
                    <div class="tx-14 route-hover cursor-pointer">{{ TItem.Title || "--"}}</div>
                </td>
                <td class="wd-100">
                    <div>
                        <span>{{ TItem.AccountMobileNumber || "--"}}</span>
                    </div>
                    <div>
                        <span>{{ TItem.AccountDisplayName || "--"}}</span>
                    </div>
                </td>
                <td class="wd-100">
                    <div>
                        <span>{{TItem.CreateDate | date: 'dd-MM-yyyy' || "--" }}</span>
                    </div>
                </td>
                <td class="wd-100">
                    <div>
                        <span>{{ TItem.EndDate | date: 'dd-MM-yyyy' || "--"  }}</span>
                    </div>
                    <div class="tx-12">
                        {{TItem.CarrierMobileNumber || "--"}}
                    </div>
                </td>
                <td class="wd-100">
                    <div>
                        <span>{{ TItem.MerchantAmount  | number: "1.2-2" || "--" }}</span>
                    </div>
                </td>
                <td class="text-center">
                    <div>
                        <span class="">{{ TItem.Amount | number: "1.2-2" || "--" }}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="table-footer">
        <div class="table-footer__inner">

            <span class="px-2">Showing 1 to 1 of {{TotalRecords}}</span> 
                
            <div class="dropdown px-2">
                Show
                <select class="customized-select" [(ngModel)]="PageRecordLimit"
                    (ngModelChange)="WatchChange($event)">
                <option *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit" [ngValue]="TItem">
                    {{TItem}}
                </option>
                </select>
            </div>
        </div>

        <div class="d-flex justify-content-end">
        <ng-container  *ngIf="pager?.pages && pager?.pages.length">
            <nav>
                <ul class="custom-nav">
                    <li class="mx-2" 
                        (click)="setPage(pager.currentPage - 1)"
                        [ngClass]="{disabled:pager.currentPage === 1}">
                        <a>
                        <i-feather name="chevrons-left" class="pagination-icons xsm-icon"></i-feather>
                        </a>
                    </li>
                    <li class="nav-count px-2" *ngFor="let page of pager.pages" [ngClass]="{activePage: pager.currentPage === page}">
                        <a class="page-link" href="javascript:void(0)" (click)="setPage(page)" 
                            >{{page}}</a>
                    </li>
                    <li class="mx-2" [ngClass]="{disabled: pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1 )">
                        <i-feather name="chevrons-right" class="pagination-icons xsm-icon"></i-feather>
                        </a>
                    </li>
                </ul>
            </nav>
        </ng-container>
    </div>
    </div>
</div>