.header{
    position: fixed;
    background-color: #FFFFFF;
    width:calc(100% - 240px);
    border-left: 1px solid #C0CCDA;
    border-bottom: 1px solid #C0CCDA;
    z-index: 1;
    padding: 0.35rem;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
}
.pointer{
    cursor: pointer;
}

@media (max-width: 1024px){
    .header{
        position: fixed;
        background-color: #FFFFFF;
        width:calc(100% - 200px);
    }
}
@media(max-width: 991px){
    .header{
        position: fixed;
        background-color: #FFFFFF;
        width:calc(100% - 70px);
    }
    .header_inner{
        padding: 0.7rem;
    }
}
