<div class="header">
  <div class="header_inner">
    <span class="d-flex px-3">
      <img src="assets/images/icons/arrow_circle_left.svg"/>  
       <span class="px-3 pointer" (click)="returnToDashboard()">BACK TO DASHBOARD</span> 
    </span>
    <span class="pr-5">
      <img src="assets/images/icons/grid_view.svg" alt="grid-view"/>
    </span>
  </div>
</div>