<section>
    <ul class="p-0 w-100 h-100">
        <!-- :: Implementation Archived -->
        <!-- <li class="d-flex justify-content-between w-100 pb-3 mb-3 border-bottom">
            <div class="d-flex align-items-center w-100">
                <img src="assets/images/icons/two-fact-auth.svg" alt="two-fact-auth" class="mr-3" />
                <div class="d-flex flex-column justify-content-center">
                    <h6>Two-factor Authentication</h6>
                    <p class="m-0">Enable your 2FA to enhance your security</p>
                </div>
            </div>
            <div class="d-flex align-items-center form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked>
            </div>
        </li> -->
        <li class="d-flex justify-content-between w-100 pb-3 border-bottom">
            <div class="d-flex align-items-center w-100">
                <img src="assets/images/icons/change-pass-lock.svg" alt="change-pass-lock" class="mr-3" />
                <div class="d-flex flex-column justify-content-center">
                    <h6>Change password</h6>
                    <p class="m-0">Change your password to a stronger one</p>
                </div>
            </div>
            <div class="d-flex align-items-center w-25 justify-content-end">
                <a class="nav-item cursor-pointer" (click)="modalService.open(ChangePasswordModal, { backdrop: 'static' })">Change password</a>
            </div>
        </li>
    </ul>
</section>

<ng-template #ChangePasswordModal let-modal>
    <app-change-password-modal [modal]="modal"></app-change-password-modal>
</ng-template>