ul li p {
    color:#777E90;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
ul li .form-check-input:checked {
    background-color: #624DE0;
    border-color: #624DE0;
}
ul li .form-switch .form-check-input{
    width: 2.8em;
    height: 1.7em;
}