<div>
    <div class="loc-container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group mt-3">
                    <label for="">Detailed Address <span class="text-danger">*</span></label>
                    <textarea type="text" name="MapAddress" maxlength="256" class="form-control hcx-locator-input" ngx-google-places-autocomplete [ngModel]="MapAddress" (onAddressChange)="HCXLocManager_AddressChange($event)"></textarea>
                    <!-- <textarea name="Address" maxlength="256" placeholder="Address" class="form-control" (keyup)="HCXLocManager_AddressChange($event)" [(ngModel)]="data.Address" rows="3"></textarea> -->
                </div>
                <!-- <div class="form-group mt-3" *ngIf="data.CountryName != undefined && data.CountryName != null && data.CountryName != ''">
                    <label>Country</label>
                    <div class="controls">
                        <span class="input-group-text">{{data.CountryName}}</span>
                    </div>
                </div> -->
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group" *ngIf="!ShowState">
                    <label>State<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                        <span class="input-group-text">Please wait ...</span>
                    </div>
                </div>
                <div class="form-group" *ngIf="ShowState">
                    <label>State<span class="text-danger">*</span>
                    </label>
                    <ng-select class="ng-select-custom" name="loc_manager_state" [items]="HCXLocManager_S2States_Data" bindLabel="text" bindValue="id" [clearable]="false" [searchable]="true" [(ngModel)]="data.StateId" (ngModelChange)="HCXLoc_Manager_StateSelected($event);">
                    </ng-select>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group " *ngIf="!ShowCity">
                    <label>City<span class="text-danger">*</span>
                    </label>
                    <div class="controls">
                        <span class="input-group-text">Please wait ...</span>
                    </div>
                </div>
                <div class="form-group" *ngIf="ShowCity">
                    <label>City<span class="text-danger">*</span>
                    </label>
                    <ng-select class="ng-select-custom" name="hcxloc_manager_city" [items]="HCXLocManager_S2Cities_Data" bindLabel="text" bindValue="id" [clearable]="false" [searchable]="true" [(ngModel)]="data.CityId" (ngModelChange)="HCXLoc_Manager_City_Change($event)">
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
</div>