    <div class="container-fluid dashboard-wrapper">
        <h6 class="fw-500 fs-75">DASHBOARD</h6>

        <div class="d-flex justify-content-between pt-2 flex-wrap">
            <div>
              <h5 class="fw-500 mainColor">Today’s Overview -  {{todayDate}}</h5>  
            </div>
            
            <div class="d-flex justify-content-between action-buttons">
                <span class="px-2">
                    <button class="btn btn-light" (click)="open(createStoreModal)">Create New Store</button>
                </span>
                <span class="px-2">
                    <button class="btn primary-btn" [routerLink]="['/deals/add']" routerLinkActive="router-link-active" >Sell A New Deal</button>
                </span>
            </div>
            
        </div>
    
        <div class="row mt-4">
            <div class="col-12 col-sm-3">
                <div class="info-card active">
                    <span class="py-1">
                         <h6>Total Deals</h6>
                    </span>
                    <span class="py-1">
                        <h3>{{_GetoverviewSummary?.Total  || 0}}</h3>
                    </span> 
                    <span class="py-1">Number of deals in your account</span>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <div class="info-card">
                    <span class="py-1">
                         <h6>Active Deals</h6>
                    </span>
                    <span class="py-1">
                        <h3 class="fw-700">{{_GetoverviewSummary?.Running || 0 }}</h3>
                    </span> 
                    <span class="py-1">Total number of active deals</span>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <div class="info-card">
                    <span class="py-1">
                         <h6>Inactive Deals</h6>
                    </span>
                    <span class="py-1">
                        <h3 class="fw-700">
                            {{_GetoverviewSummary?.Rejected + _GetoverviewSummary?.Expired
                                 + _GetoverviewSummary?.Paused  + _GetoverviewSummary?.ApprovalPending
                                + _GetoverviewSummary?.Draft + _GetoverviewSummary?.Upcoming + _GetoverviewSummary?.SoldOut  || 0}}
                        </h3>
                    </span> 
                    <span class="py-1">Total number of inactive deals</span>
                </div>
            </div>
            <div class="col-12 col-sm-3">
                <div class="info-card">
                    <span class="py-1">
                         <h6>Sold Deals</h6>
                    </span>
                    <span class="py-1">
                        <h3 class="fw-700">{{PurchaseData?.Transactions || 0}}</h3>
                    </span> 
                    <span class="py-1">Total number of sold deals</span>
                </div>
            </div>
        </div>

        <!-- // Implementation Paused -->
        <!-- <div class="mt-4">
            <div class="chart-wrapper">
                
                <div style="display: block;">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="mb-0">Revenue from deals</h6>
                        </div> 
                        <div>
                            <button class="btn white-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                Weekly
                            </button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" type="button">Action</button>
                            </div>
                        </div>
                    </div>
                    <canvas baseChart width="600" height="400"
                      [type]="'line'"
                      [data]="lineChartData"
                      [options]="lineChartOptions"
                      [legend]="lineChartLegend">
                    </canvas>
                </div>
                <div class="chart-wrapper__text">
                    <div>
                        <p><span class="indicator">&nbsp; &nbsp;&nbsp;</span> Total Revenue for 24th -27th November</p>
                        <h6>N25,000</h6> 
                    </div>
                </div>
            </div>
        </div> -->

        <div class="mt-5 mb-4">
            <div class="d-flex justify-content-between">
                <span>
                    <h5>History</h5>
                </span>
                <span class="d-flex justify-content-between">
                    <button class="btn white-btn" (click)="exportToExcel()">
                        <i-feather name="download" class="small-icon"></i-feather>
                        Export
                    </button>
                    <!-- <button class="btn white-btn">
                        All stores
                        <i-feather name="chevron-down" class="small-icon"></i-feather>
                    </button> -->
                </span>
            </div>
            <div class="table-responsive border-td mt-3">
                <table class="table table-borderless bg-white">
                    <thead>
                      <tr>
                        <!-- TBD -->
                        <!-- <th scope="col">
                            <input type="checkbox" class="form-control">
                        </th> -->
                        <th scope="col">Store Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Date Onboarded</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let TItem of StoresList">
                            <td class="w-250p">
                                {{TItem.DisplayName}}
                            </td>
                            <td class="w-500p">
                                {{TItem.Address}}
                            </td>
                            <td class="text-faded">
                                {{TItem?.CreateDate | date}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


<ng-template #createStoreModal let-modal>
    <app-create-store [modal]="modal" (reloadList)="$event.reload && this.modalService.open(storeAddedSuccessModal, { backdrop: 'static', size: 'sm' })"></app-create-store>
</ng-template>
<ng-template #storeAddedSuccessModal let-modal>
    <ng-container>
        <div class="modal-header border-0">
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body store-added-success-modal pb-5">
            <div class="d-flex flex-column align-items-center justify-content-center ">
                <img src="assets/images/utils/Congratulations.png" width="110px" height="110px" alt="Congratulations">
                <p>New Store Added</p>
                <span>You have successfully added a New Location</span>
            </div>
        </div>
    </ng-container>
</ng-template>