.info-card{
    background: #FFFFFF;
    border-radius: 12px;
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    transition: all 0.5s ease-in;
    border: 1px solid #C0CCDA;
}
.info-card h3{
    font-size: 30px;
}
.info-card.active{
    background-color: #413895;
    color:#FFFFFF
}
.small-icon
{
    width: 20px;
    height: 25px;
}
tr input{
    font-size: 2px;
}

ul.custom-nav{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.custom-nav li{
    padding: 0.25rem;
    cursor: pointer;
}
.nav-count{
    border: 1px solid #595959;
    color: #595959;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 2px;
}
.nav-count.active,.nav-count:hover{
    background: #413994;
    color: #FFFFFF;
}
.dashboard-wrapper{
    overflow-y: scroll;
}

.store-added-success-modal span {
    font: normal 400 12px/18px system-ui;
    text-align: center;
    width: 226px;
    color: #3B4863;
}
.store-added-success-modal span.p-f-500{
    font-weight: 500;
}

.store-added-success-modal p {
    font: normal 500 16px/21px system-ui;
    text-align: center;
    color: #3B4863;
}

.chart-wrapper{
    background-color: #FFFFFF;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}
.chart-wrapper__text{
    display: flex;
    align-items: flex-end;
    padding-bottom: 2rem;
    text-align: end;
}
.chart-wrapper__text strong{
    font-weight: 500;
}

.indicator{
    background: linear-gradient(229.42deg, rgba(44, 34, 137, 0.9) 26.93%, rgba(29, 47, 111, 0.85) 98.11%);
    border-radius: 6px;
    padding: 3px;
}

.w-200p{
    width: 200px;
}
.w-40p{
    width: 40px;
}
td{
    color: #141204;
}
.text-faded{
    color: #595959;
}
.mainColor{
    color: #1B2E4B;
    font-size: 1.2rem;
}
.bg-inherit{
    background-color: inherit;
}
.btn-light{
    background-color:inherit;
    border: 1px solid #C0CCDA;
}
.border-td>.table-borderless>thead>tr>th {
    border-bottom: 2px solid rgba(192, 204, 218, 0.3);
    background-color: #FFFFFF;
    font-family: 'Roboto Medium';
    padding: 1rem 0.5rem;
}
.border-td>.table-borderless>tbody>tr>td {
    border-bottom: 2px solid rgba(192, 204, 218, 0.3);
    background-color: #FFFFFF;
    padding: 0.75rem;
}
.fs-75{
    font-size: 00.75rem;
}
@media(max-width: 769px){
    .info-card {
        margin-bottom: 1rem;
    }
}

@media(max-width: 769px){
    .action-buttons button{
    font-size: 0.75rem;
    width: 8rem;
    }
}
