.store-form_store-logo {
    height: 114px;
    width: 210px;
    border-radius: 5px;
    border: 1px solid #C0CCDA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7987A1;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}

.store-form_primary-photo .col {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #7987A1;
}

.store-form_map {
    height: 238px;
    width: 362px;
    background-color: #A2C0F4;
}