<ng-container>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">{{_editStoreItem ? 'Edit Store' : 'Set up your store'}}</h6>
  </div>
  <div class="modal-body" ngbAutofocus>
    <form [formGroup]="StoreForm">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <!-- Store Name -->
          <div class="form-group">
            <label for="StoreDisplayName">Store Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" placeholder="Store Name" formControlName="StoreDisplayName"
              maxlength="256" />
            <label class="text-danger" for="StoreDisplayName"
              *ngIf="storeFormControl('StoreDisplayName').invalid && (storeFormControl('StoreDisplayName').touched || isFormSubmitted)">
              <span *ngIf="storeFormControl('StoreDisplayName').hasError('required')">{{
                errorMessages.storeNameRequired }}</span>
              <span *ngIf="storeFormControl('StoreDisplayName').hasError('minlength')">{{ errorMessages.storeNameLength
                }}</span>
            </label>
          </div>

          <!-- Store manager phone number -->
          <div class="form-group mb-3">
            <label for="StoreManagerMobileNumber">Store Manager's Phone Number <span
                class="text-danger">*</span></label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text rounded-0">+234</span>
              </div>
              <input type="text" class="form-control" placeholder="Enter phone number"
                aria-label="Text input with dropdown button" formControlName="StoreManagerMobileNumber" maxlength="14"
                oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
            </div>
            <label class="text-danger" for="StoreManagerMobileNumber"
              *ngIf="storeFormControl('StoreManagerMobileNumber').invalid && (storeFormControl('StoreManagerMobileNumber').touched || isFormSubmitted)">
              <span *ngIf="storeFormControl('StoreManagerMobileNumber').hasError('required')">
                {{ errorMessages.storeManagerPhoneNumberRequired }}</span>
              <span *ngIf="storeFormControl('StoreManagerMobileNumber').hasError('minlength')">
                {{ errorMessages.storeManagerPhoneNumberLength }}</span>
            </label>
          </div>
          <div class="form-group">
            <label for="CategoryDetails">Store Category <span class="text-danger">*</span></label>
            <ng-select class="ng-select-custom" [items]="S2BusinessCategories" [multiple]="true" bindLabel="text"
              bindValue="id" placeholder="Select Category" [clearable]="false" [searchable]="true"
              formControlName="CategoryDetails" (ngModelChange)="countryChange($event)">
            </ng-select>
          </div>
          <!-- Store Logo -->
          <div class="form-group">
            <label for="">Store Logo <span class="text-danger">*</span></label>
            <div class="store-form_store-logo" *ngIf="_HelperService._Icon_Cropper_Image == ''" (drop)="drop($event)"
              (dragover)="$event.preventDefault()" id="drag-area">
              <svg width="40" height="38" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg"
                class="cursor-pointer" (click)="fileInput.click()">
                <path
                  d="M39.5 19C39.5 22.7578 38.3563 26.4313 36.2137 29.5558C34.071 32.6804 31.0255 35.1156 27.4623 36.5537C23.8992 37.9918 19.9784 38.368 16.1957 37.6349C12.4131 36.9018 8.93855 35.0922 6.21142 32.435C3.4843 29.7778 1.62711 26.3923 0.874696 22.7067C0.122284 19.0211 0.508449 15.2008 1.98436 11.729C3.46027 8.25722 5.95963 5.28982 9.16639 3.20208C12.3731 1.11433 16.1433 0 20 0C22.5608 0 25.0965 0.491449 27.4623 1.44629C29.8282 2.40113 31.9778 3.80066 33.7886 5.56497C35.5993 7.32928 37.0357 9.42383 38.0157 11.729C38.9956 14.0342 39.5 16.5049 39.5 19Z"
                  fill="#B11A83" fill-opacity="0.1" />
                <path d="M19.5 11V26" stroke="#B11A83" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M12.5 19H28.5" stroke="#B11A83" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
              <input type="file" #fileInput (change)="fileChangeEvent($event)" accept="image/*" class="d-none" />
              <p class="m-0 pt-2">Drag & Drop Image here</p>
            </div>
            <div *ngIf="_HelperService._Icon_Cropper_Image != ''" >
              <div (click)="fileInput.click()">
                  <img [src]="_HelperService._Icon_Cropper_Image" alt="Store_logo"  width="128px" class="avatar w-96 b-a" />
              </div>
            </div>
            <div class="store-form_primary-photo d-flex g-2 mt-3">
              <div class="fs-10 text-muted px-2">
                <i-feather name="check-circle" class="xsm-icon"></i-feather> Primary Image
              </div>
              <div class="cursor-pointer px-2 fs-10" (click)="removeImage()">
                <i-feather name="trash-2" class="xsm-icon"></i-feather> Remove
              </div>
            </div>
          </div>
        </div>

        <!-- Store Category -->
        <div class="col-md-6 col-sm-12">
          <!-- Store location map -->
          <div class="form-group">
            <hcx-addressmanager [AddressObject]="_Address" (OnAddressSet)="AddressChange($event)"></hcx-addressmanager>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="_modal.close('Save click')">Close</button>
    <button type="button" class="btn primary-btn" disabled *ngIf="_HelperService.IsFormProcessing">Please wait...</button>
    <button type="button" class="btn btn-pink" (click)="SubmitForm()" *ngIf="!_HelperService.IsFormProcessing">{{_editStoreItem ? 'Update' : 'Add'}}
      Store</button>
  </div>
</ng-container>

<div class="modal " id="_Icon_Cropper_Modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="row no-gutters">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="m-3" *ngIf="_HelperService._Icon_Cropper_BaseImage">
              <image-cropper [imageBase64]="_HelperService._Icon_Cropper_BaseImage" [aspectRatio]="9/9"
                [format]="_HelperService.AppConfig.Icon_Cropper_Options.Format" [maintainAspectRatio]="true"
                [cropperMinWidth]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumWidth"
                [cropperMinHeight]="_HelperService.AppConfig.Icon_Cropper_Options.MinimumHeight"
                [resizeToWidth]="_HelperService.AppConfig.Icon_Cropper_Options.ResizeToWidth"
                (imageCropped)="_HelperService.Icon_Cropped($event)" (imageLoaded)="_HelperService.Icon_Crop_Loaded()"
                (loadImageFailed)="_HelperService.Icon_Crop_Failed()">
              </image-cropper>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-light">
            <div class="p-3">
              <div class="mb-2">
                Image Preview
              </div>
              <div class="mb-2">
                <img [src]="_HelperService._Icon_Cropper_Image" class="b-a b-2x img-responsive" />
              </div>
              <div>
                <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
                <button type="button" class="btn btn-warning" (click)="_HelperService.Icon_Crop_Clear()">Reset &
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>