<div class="container">
    <div class="crumbs-wrapper">
      <span>  Dashboard / </span><a class="active-crumb">&nbsp; SELL A NEW DEAL</a> 
    </div>   

    <div class="deal-wrapper">
        <div class="deal-wrapper__header">
            <span> SELL A NEW DEAL / </span><a class="active-crumb">&nbsp; DEAL DESCRIPTION</a> 
        </div>

        <div class="deal-wrapper__body">
            <div class="row pb-3">
                
                <div class="col-md-8">
                    <div class="page_numbers py-4 px-4">
                        <div class="stepper-wrapper px-3">
                            <div class="stepper-item" [ngClass]="{completed: stepper >= 1}">
                                <div class="step-counter" (click)="skipPage(1)">1</div>
                                <div class="step-name">Deal Category</div>
                            </div>
                            <span class="line-marker"></span>
                            <div class="stepper-item" [ngClass]="{completed: stepper >= 2}">
                                <div class="step-counter" (click)="skipPage(2)">2</div>
                                <div class="step-name">Deal Location</div>
                            </div>
                            <span class="line-marker"></span>
                            <div class="stepper-item" [ngClass]="{completed: stepper >= 3}">
                                <div class="step-counter" (click)="skipPage(3)">3</div>
                                <div class="step-name">Final Step</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
                
        <form class="" [formGroup]="DealForm">

                <!-- Stage 1 -->
            <div class="col-md-8" *ngIf="stepper === 1">
                <div class="row px-4">
                <div class="form-group mb-3">
                    <label>Deal Type <span class="text-danger">*</span> </label>
                    <div class="d-flex">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="DealTypeCode" id="ServiceDeal" 
                                    value="dealtype.service" 
                                    formControlName="DealTypeCode" 
                                    (click)="dealType('service')"
                                    >
                            <label class="form-check-label" for="ServiceDeal">
                                Service Deal
                            </label>
                        </div>
                        <div class="form-check mx-3">
                            <input class="form-check-input" type="radio" name="DealTypeCode" id="ProductCode"
                                    value="dealtype.product" formControlName="DealTypeCode" (click)="dealType('product')">
                            <label class="form-check-label" for="ProductCode">
                                Product Deal
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3" *ngIf="DealControls['DealTypeCode'].value == 'dealtype.product'">
                    <label>Delivery Type</label>
                        <div class="d-flex">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="DeliveryTypeCode" id="DeliveryTypeDeal" 
                                        value="deliverytype.delivery" 
                                        formControlName="DeliveryTypeCode" 
                                        >
                                <label class="form-check-label" for="DeliveryTypeDeal">
                                    Delivery
                                </label>
                            </div>
                            <div class="form-check mx-3">
                                <input class="form-check-input" type="radio" name="DeliveryTypeCode" id="PickupTypeDeal"
                                    value="deliverytype.pickup" formControlName="DeliveryTypeCode">
                                <label class="form-check-label" for="PickupTypeDeal">
                                    Pickup
                                </label>
                            </div>
                            <div class="form-check mx-3">
                                <input class="form-check-input" type="radio" name="DeliveryTypeCode" id="PickupTypeDeal"
                                    value="deliverytype.instoreanddelivery" formControlName="DeliveryTypeCode">
                                <label class="form-check-label" for="PickupTypeDeal">
                                    Both
                                </label>
                            </div>
                        </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="dealCategory">Select Deal’s Category <span class="text-danger">*</span></label>
                        <select class="custom-select" id="dealCategory" 
                            (change)="selectDealSubCategory($event)">
                            <!-- <option selected disabled>Select Category</option> -->
                            <option selected [ngValue]="selectedCategory">{{selectedCategory}}</option>
                            <option value="{{ Stringify(item) }}"*ngFor="let item of Categories">
                                {{item?.Name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-3 align-self-center">
                    <div class="form-group">
                        <ng-container  *ngIf="isLoadingCat">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </ng-container>
                            <ng-container *ngIf="!SubCategories?.length && !isLoadingCat">
                            <div class="p-2">
                                    <span>No SubCategories for that category</span>
                            </div>
                            </ng-container>
                            <ng-container *ngIf="SubCategories?.length">
                            <label for="dealSubCategory">Select Deal’s Sub-Category <span class="text-danger">*</span></label>
                            <select class="custom-select" id="dealSubCategory"
                                (change)="setSubCategory($event)">
                                <!-- <option disabled selected>Select SubCategory</option> -->
                                <option selected [ngValue]="selectedSubCategory" disabled>{{selectedSubCategory}}</option>
                                <option value="{{ Stringify(item) }}" *ngFor="let item of SubCategories">
                                    {{item?.Name}}
                                </option>
                            </select> 
                            </ng-container>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <div class="d-flex ">
                                <div>
                                    <label>Original Price
                                    </label><span class="text-danger"> * </span>
                                </div>
                                <div>
                                    <span>
                                        <i class="fa fa-info-circle text-secondary mg-l-10"
                                            aria-hidden="true" data-toggle="tooltip" data-placement="top"
                                            title="Deal value is original price of Product/Service"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="controls">
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="ml-2 mr-2"
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        </span>
                                    </div>
                                    <input type="number" min="1" name="ActualPrice" maxlength="256" 
                                            oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                            (keypress)="watchKeyPress($event)" 
                                            (keyup)="ProcessAmounts()" class="form-control" [formControl]="DealControls['ActualPrice']" 
                                            [(ngModel)]="_AmountDistribution.ActualPrice"
                                        [ngClass]="{'is-invalid':!DealControls['ActualPrice'].valid && DealControls['ActualPrice'].touched}">
                                </div>
                            </div>
                            <label class="text-danger" for="ActualPrice" 
                                *ngIf="DealControls['ActualPrice'].hasError('required') && DealControls['ActualPrice'].touched">
                                Original price required
                            </label>
                            <label class="text-danger" for="ActualPrice" *ngIf="DealControls['ActualPrice'].hasError('min')">Original price
                                must be greater than 0</label>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <div class="d-flex justify-content-between">
                                <label>Selling Price <span class="text-danger"> * </span>
                                </label>
                            </div>
                            <div class="controls">
                                <div class="input-group ">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="ml-2 mr-2"
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                        </span>
                                    </div>
                                    <input type="number" min="0" name="SellingPrice" maxlength="256" class="form-control"
                                                oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                                (keypress)="_HelperService.PreventTextButAcceptDecimal($event)" (keyup)="ProcessAmounts()"
                                                [formControl]="DealControls['SellingPrice']" [(ngModel)]="_AmountDistribution.SellingPrice"
                                            [ngClass]="{'is-invalid':!DealControls['SellingPrice'].valid && DealControls['SellingPrice'].touched}"
                                           
                                            >
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            ({{_AmountDistribution.SellingPricePercentage | number: "1.2-2"
                                            ||
                                            "--"}}%) off
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <label class="text-danger" for="SellingPrice" 
                                *ngIf="DealControls['SellingPrice'].hasError('required') && DealControls['SellingPrice'].touched">
                                Selling price required</label>
                            <!-- <label class="text-danger" for="DiscountAmount"
                                *ngIf="_AmountDistribution.ActualPrice != undefined && _AmountDistribution.SellingPrice != undefined && _AmountDistribution.SellingPrice > _AmountDistribution.ActualPrice">
                                Selling price must be less than or equal to original price</label> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label>Deal Title  <span class="text-danger">*</span></label>
                        <input type="text" name="TitleContent" maxlength="128" class="form-control" 
                                [formControl]="DealControls['TitleContent']"  (keyup)="ProcessTitle()"
                                [(ngModel)]="_Titles.OriginalTitle" 
                                [ngClass]="{'is-invalid':!DealControls['TitleContent'].valid && DealControls['TitleContent'].touched}">
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label>Brand Name (If any)</label>
                        <input class="form-control" type="text" />
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label>Select Deal Title Template</label>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" 
                                    name="Title" formControlName="Title" (click)="SetDeal(1)"  id="gridRadios1" [value]="_Titles.Title1">
                            <label class="form-check-label" for="gridRadios1">
                                <span id="titleone" class="pl-1" [innerHtml]="_Titles.Title1">
                                </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" (click)="SetDeal(2)" formControlName="Title" type="radio" name="Title"
                                    id="gridRadios2" [value]="_Titles.Title2" checked>
                            <label class="form-check-label" for="gridRadios2">
                                <span id="titleone" class="pl-1" [innerHtml]="_Titles.Title2">
                                </span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" (click)="SetDeal(3)" formControlName="Title"  type="radio" 
                                    name="Title" id="gridRadios3" [value]="_Titles.Title3" checked>
                            <label class="form-check-label" for="gridRadios3">
                                <span id="titleone" class="pl-1" [innerHtml]="_Titles.Title3">
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label>Deal Description <span class="text-danger">* (Hint: Input product Highlights/Features in bullets.
                                    Not more than 200 Characters)</span> </label>
                        <ckeditor [editor]="Editor" maxlength="200" [config]="ckConfig"
                        [formControl]="DealControls['PackagingDescription']"></ckeditor>
                    </div>
                </div>
                <div class="d-flex justify-content-between pt-3">
                    <span>Deal’s Banner (Recommended image dimension is 600px by 500px)</span>
                    <span class="font-sm" (click)="ClearImages()"> <i-feather name="trash-2" class="xsm-icon"></i-feather>  Remove All</span>
                </div>
                <div class="col-md-12 mb-3"> 
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="store-form_store-logo w-100"  (drop)="drop($event)"
                                    (dragover)="$event.preventDefault()" id="drag-area">
                                    <svg width="40" height="38" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg"
                                    class="cursor-pointer" (click)="fileInput.click()">
                                    <path
                                        d="M39.5 19C39.5 22.7578 38.3563 26.4313 36.2137 29.5558C34.071 32.6804 31.0255 35.1156 27.4623 36.5537C23.8992 37.9918 19.9784 38.368 16.1957 37.6349C12.4131 36.9018 8.93855 35.0922 6.21142 32.435C3.4843 29.7778 1.62711 26.3923 0.874696 22.7067C0.122284 19.0211 0.508449 15.2008 1.98436 11.729C3.46027 8.25722 5.95963 5.28982 9.16639 3.20208C12.3731 1.11433 16.1433 0 20 0C22.5608 0 25.0965 0.491449 27.4623 1.44629C29.8282 2.40113 31.9778 3.80066 33.7886 5.56497C35.5993 7.32928 37.0357 9.42383 38.0157 11.729C38.9956 14.0342 39.5 16.5049 39.5 19Z"
                                        fill="#B11A83" fill-opacity="0.1" />
                                    <path d="M19.5 11V26" stroke="#B11A83" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M12.5 19H28.5" stroke="#B11A83" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    </svg>
                                    <input type="file" #fileInput (change)="fileChangeEvent($event)" accept="image/*" class="d-none" />
                                    <p class="m-0 pt-2">Drag & Drop Image here</p>
                                </div>
                            </div>
                            <div class="col-md-5 d-flex flex-column mb-3 align-items-center"
                                    *ngFor="let DealImage of imageListn; let index = index">
                                <div class="mx-2 image-container">
                                    <img [src]="DealImage.base64" alt="Store_logo" width="128px" class="avatar w-96 b-a" />
                                </div>
                                <div class="d-flex  justify-content-between align-items-start">
                                    <span class="px-2">
                                         <i-feather name="trash" class="xsm-icon" (click)="removeImage(index)"></i-feather>
                                    </span>
                                    <span *ngIf="DealImage == imageListn[0]">
                                        <div class="store-form_primary-photo">
                                            <div class="col">
                                            <i-feather name="check-circle" class="xsm-icon"></i-feather> Primary Image
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>
                <div class="col-md-12 mb-4">
                    <label>Product Feature (Describe your product here) <span class="text-danger">*</span></label>
                    <ckeditor [editor]="Editor" maxlength="200" [config]="ckConfig"
                    [formControl]="DealControls['Description']"></ckeditor>
                </div>
                </div>
            </div>

            <!-- stage 2 -->
            <div class="col-md-8" *ngIf="stepper === 2">
                <div class="row px-4">
                    <div class="form-group">
                        <h6>Deal Location</h6>
                        <div>
                            <input class="styled-checkbox" id="all-stores" 
                                    formControlName="IsAllLocations" (click)="checkLocations()"
                                    type="checkbox">
                            <label for="all-stores"> All stores</label>
                        </div>
                    </div>
                    <div class="col-md-6" *ngIf="DealControls['IsAllLocations'].value == false">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="dealCategory">Select Stores<span class="text-danger">*</span></label>
                                <ng-select class="ng-select-custom" [items]="StoreListings"
                                    [multiple]="true" bindLabel="text"
                                    bindValue="id" placeholder="Select Store" [clearable]="false"
                                    [searchable]="true"
                                   formControlName="StoreListing" (ngModelChange)="countryChange($event)">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <h6>Schedule Deal</h6>
                    <div class="col-md-6">
                        <label>Start Date <span class="text-danger">*</span></label>

                        <input class="form-control" type="date" 
                               (input)="adjustDate()" [min]="minDate" formControlName="StartDate" />
                    </div>
                    <div class="col-md-6">
                        <label>End Date </label>
                        <input class="form-control" type="date" [min]="maxDate" formControlName="EndDate" />
                    </div>
                    <div class="form-group mt-3">
                        <div>
                            <input class="styled-checkbox" id="run-time" 
                                (click)="checkPeriod()" formControlName="isScheduled" 
                                 type="checkbox">
                            <label for="run-time"> Run all Time</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6"  *ngIf="DealControls['isScheduled'].value == false">
                            <label>Deal runs From <span class="text-danger">*</span></label>
                            <div class="d-flex align-items-center">
                                <div class="col-md-4 p-0">
                                    <input type="number" oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                         class="form-control" formControlName="StartHour">
                                </div>
                                <div class="px-2">
                                    <span>TO</span>
                                </div>
                                <div class="col-md-4 p-0">
                                    <input type="number"
                                        oninput="this.value=this.value.replace(/[^0-9]/g,'');" 
                                        class="form-control" formControlName="EndHour">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="DealControls['DealTypeCode'].value == 'dealtype.product'">
                            <div class="form-group">
                                <label>Product weight  <span class="text-danger">*</span></label>
                                <input class="form-control" type="number" 
                                     oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                    formControlName="Weight">
                            </div>
                        </div>
                    </div>
                    <div class="form-group"  *ngIf="DealControls['isScheduled'].value == false">
                        <label>Deal runs on <span class="text-danger">*</span></label>
                        <div class="daysCircle">
                            <span
                                *ngFor="let item of scheduleDays" (click)="ToggleDay(item.key)"
                                class="day-item" [ngClass]="{active: ScheduledDays.includes(item.key)}">
                                {{item?.value}}</span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                            <h6>Settlement Type <span class="text-muted fs-12">( Payment settlements between Merchant and ThankUCash )</span></h6>
                        <label>Deal Settlement Type <i-feather name="info" class="xsm-icon"></i-feather> </label>
                        <div class="d-flex">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" 
                                    name="SettlementTypeCode"  formControlName="SettlementTypeCode"  id="prepaid" value="prepaid">
                                <label class="form-check-label" for="prepaid">
                                    Prepaid
                                </label>
                            </div>
                            <div class="form-check mx-3">
                                <input class="form-check-input" type="radio" 
                                    name="SettlementTypeCode" formControlName="SettlementTypeCode" id="postPaid" value="postpaid" >
                                <label class="form-check-label" for="postPaid">
                                    Postpaid
                                </label>
                            </div>
                        </div>
                        <div class="py-1">
                            <span class="text-muted">Prepaid:</span> <span> Dealday will purchase deals from merchants</span>
                        </div>
                        <div class="py-1">
                            <span class="text-muted">Postpaid: </span> <span>Dealday will settle payments weekly (Dealday will settle deals which are redeemed)</span>
                        </div>
                    </div>
                </div>
                
            </div>
                
            <!-- stage 3 -->
            <div class="col-md-9" *ngIf="stepper === 3">
                <div class="row px-4">
                    <h6>Usage Policies</h6>
                        <label>Deal Validity Type</label>
                        <div class="d-flex py-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="CodeUsageTypeCode" 
                                                name="CodeUsageTypeCode" id="daysafterpurchase" value="daysafterpurchase">
                                <label class="form-check-label" for="daysafterpurchase">
                                    Days after Purchase 
                                </label>
                            </div>
                            <div class="form-check mx-2">
                                <input class="form-check-input" type="radio" formControlName="CodeUsageTypeCode"
                                            id="hour" name="CodeUsageTypeCode"  value="hour">
                                <label class="form-check-label" for="hour">
                                    Hours after purchase
                                </label>
                            </div>
                            <div class="form-check mx-2">
                                <input class="form-check-input" 
                                        type="radio" formControlName="CodeUsageTypeCode" name="CodeUsageTypeCode" id="dealenddate" value="dealenddate">
                                <label class="form-check-label" for="dealenddate">
                                    Deal’s End date 
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input"  formControlName="CodeUsageTypeCode" name="CodeUsageTypeCode"
                                                type="radio" id="date" value="date">
                                <label class="form-check-label" for="date">
                                    Expire on particular date
                                </label>
                            </div>
                        </div>
                    <ng-container [ngSwitch]="DealControls['CodeUsageTypeCode'].value">
                        <div *ngSwitchCase="'daysafterpurchase'">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter Days <span class="text-danger">*</span></label>
                                    <input class="form-control" 
                                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"    
                                        formControlName="CodeValidityDays" type="number" />
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'hour'">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter Hours <span class="text-danger">*</span></label>
                                    <input class="form-control" 
                                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                        formControlName="CodeValidityHours" type="number" />
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'date'">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Enter Date <span class="text-danger">*</span></label>
                                    <input class="form-control" formControlName="CodeValidityEndDate" type="date" />
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchDefault>&nbsp;</div>
                    </ng-container>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label>Quantity <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="MaximumUnitSale" />
                        </div>
                        <div class="col-md-6">
                            <label>Maxiumum Unit Sale Per Person  <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="MaximumUnitSalePerPerson" />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Terms & Conditions <span class="text-danger">*</span></label>
                            <ckeditor [editor]="Editor" maxlength="500" [config]="ckConfig"
                                [formControl]="DealControls['Terms']"></ckeditor>
                        </div>
                    </div>
                    <div class="form-group">
                        <h6>App Notifications Settings</h6>
                        <div class="form-check">

                            <input class="styled-checkbox" id="push-notify"
                                    formControlName="SendNotification"  
                                    type="checkbox">
                            <label for="push-notify">Push notifications on app Immediately</label>

                        <p class="text-muted">Check this box if you want to send notifications on app now</p>
                    </div>
                    
                    <div class="col-md-12 px-0 form-group">
                        <h6>SEO Optimization</h6>
                        <label>Keywords (SEO meta tags describe your store to search engines. 
                                Separate each tag with comma (,)) <span class="text-danger">*</span></label>
                                <ckeditor [editor]="Editor" maxlength="500" [config]="ckConfig"
                                    [formControl]="DealControls['Keywords']"></ckeditor>
                    </div>
                    </div>
                </div>
            </div>
            <div class="deal-wrapper__footer">
                <div>
                    <span>
                        <button class="btn neutral-btn text-white" (click)="goHome()">Close</button>
                    </span>
                </div>
                <div>
                    <span class="px-2">
                        <ng-container  *ngIf="isLoadingCat">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </ng-container>
                        <button *ngIf="!isLoadingCat" class="btn secondary-btn" [disabled]="DealForm.invalid" (click)="NextActions('deal.draft')">Save as draft</button>
                    </span>
                    <span class="px-2">
                        <ng-container *ngIf="isLoadingNext">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </ng-container>
                        <button *ngIf="!isLoadingNext" class="btn primary-btn" [disabled]="DealForm.invalid" (click)="NextActions('deal.approvalpending')">{{actionText}}</button>
                    </span>
                </div>
            </div>
        </form>

    </div>
</div>

