.deal-wrapper{
    background-color: #FFFF;
    margin-top: 1.5rem;
}

.deal-wrapper__header{
    border-top: 1px solid #C0CCDA;
    border-bottom: 1px solid #C0CCDA;
    padding: 1rem;
}
.deal-wrapper__body{
    padding-bottom: 2rem;
}

.deal-wrapper__header .active-crumb{
    color: #B11A83;
    text-decoration: none;
}
.primary-btn{
  width: 150px;
}
.deal-wrapper__footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #C0CCDA;
    border-bottom: 1px solid #C0CCDA;
    padding: 1rem;
    margin-top: 1.2rem;
}
.form-control, .custom-select{
    border-radius: 5px;
}
label{
    font-weight: 400;
    color: #1B2E4B;
}

input[type="radio"] {
    display: grid;
    place-content: center;
  }
  input[type="radio"]:checked {
    background-color: #B11A83;
    border-color: #B11A83;
  }
  .font-sm{
    font-size: 12px;
  }
  
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }

.store-form_store-logo {
    border-radius: 5px;
    border: 1px solid #C0CCDA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7987A1;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding: 3rem;
    width: 250px;
}

.stepper-wrapper {
    margin-top: auto;
    display: flex;
    margin-bottom: 20px;
    color:#FFFF;
  }

  .stepper-item{
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    align-items: center;
  }
  .step-counter{
    color: #3B4863;
    background:rgba(177, 26, 131, 0.3);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 0.5rem;
    transition: all 0.5s ease-in;
    cursor: pointer;
    color: #FFFFFF;
  }

  .line-marker{
    width: 200px;
    border-bottom: 2px solid #B11A83;
    align-self: center;
  }
    
  .stepper-item.completed .step-counter {
    background-color: #B11A83;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid rgba(177, 26, 131, 0.5);;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: -1;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }
  .step-name{
    color: #B11A83;
  }

  .daysCircle {
    padding: 1rem;
    display: flex;
  }
  .day-item{
    color: #3B4863;
    background: rgba(95, 109, 136, 0.2);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 0.5rem;
    transition: all 0.5s ease-in;
    cursor: pointer;
  }
  .day-item.active,.day-item:hover{
    color: #B11A83;
    background: rgba(177, 26, 131, 0.2);
  }
  .light-text{
    font-family: 'Roboto Regular';
  }

  .image-container{
    border: 1px solid #C0CCDA;
    padding: 1rem;
    width: 200px;
    height: 160px;
  }

  label{
    color: #1B2E4B;
    font-family: 'Inter Regular';
    font-weight: 400;
  }
  .btn:hover{
    background-color: inherit !important;
  }
  .primary-btn:hover{
    background-color: white;
    color: #B11A83 !important;
    border: #B11A83 1px solid;
  }
  .primary-btn:disabled{
    background-color: rgba(177, 26, 131, 0.5);
    border: 0;
    color: white;
  }

  .form-check.styled-checkbox{
    padding-left: 0 !important;
  }

  :host ::ng-deep .ck-editor__editable_inline {
    min-height: 10rem;
}

  