<ng-container>
    <div class="modal-header border-0">
        <button type="button" class="btn-close" aria-label="Close" (click)="_modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body p-5 pt-0" ngbAutofocus>
        <h5>Change Password</h5>
        <p class="mb-5">Kindly enter your old password and your new password not less than 8 digit.</p>
        <form [formGroup]="changePasswordForm">
            <div class="mt-3">
                <div class="form-group">
                    <label for="oldPassword">Old Password</label>
                    <div class="input-group">
                        <input [type]="ShowPassword1 ? 'text' : 'password'" name="oldPassword" maxlength="20"
                            class="form-control mb-2" formControlName="oldPassword" (cut)="$event.preventDefault()"
                            (copy)="$event.preventDefault()" (paste)="$event.preventDefault()">
                        <div class="input-group-append h-100 rounded-0">
                            <span class="input-group-text bg-white h-100 rounded-0">
                                <a class="cursor-pointer" (click)="ToogleShowHidePassword('oldPassword')">
                                    <i-feather [name]="ShowPassword1 ? 'eye' : 'eye-off'"
                                        class="password-eye-icon"></i-feather>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-3">
                <div>
                    <label for="newPassword">Create Password</label>
                    <div class="input-group">
                        <input [type]="ShowPassword2 ? 'text' : 'password'" name="newPassword" maxlength="20"
                            class="form-control mb-2" formControlName="newPassword" (input)="pwdValueChange($event)"
                            (cut)="$event.preventDefault()" (copy)="$event.preventDefault()"
                            (paste)="$event.preventDefault()">
                        <div class="input-group-append h-100 rounded-0">
                            <span class="input-group-text bg-white h-100 rounded-0">
                                <a class="cursor-pointer" (click)="ToogleShowHidePassword('newPassword')">
                                    <i-feather [name]="ShowPassword2 ? 'eye' : 'eye-off'"
                                        class="password-eye-icon"></i-feather>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div
                    *ngIf="!(ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">
                    <span [ngClass]="{'text-success':IsminLength , 'text-danger': !IsminLength}">Password must
                        contain at least 8 characters</span><br />
                    <span [ngClass]="{'text-success':ispwdContainsNum , 'text-danger': !ispwdContainsNum}">Password
                        must contain at least one number (0-9)</span><br />
                    <span [ngClass]="{'text-success':ispwdContainsUC , 'text-danger': !ispwdContainsUC}">Password
                        must contain at least one letter (A-Z)</span><br />
                    <span [ngClass]="{'text-success':ispwdContainsLC , 'text-danger': !ispwdContainsLC}">Password
                        must contain at least one letter (a-z)</span><br />
                    <span [ngClass]="{'text-success':isPwdContainsSC , 'text-danger': !isPwdContainsSC}">Password
                        must contain one special charater</span>
                </div>
            </div>

            <div class="mt-3">
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <div class="input-group">
                        <input [type]="ShowPassword3 ? 'text' : 'password'" name="confirmPassword" maxlength="20"
                            class="form-control mb-2" formControlName="confirmPassword" (cut)="$event.preventDefault()"
                            (copy)="$event.preventDefault()" (paste)="$event.preventDefault()">
                        <div class="input-group-append h-100 rounded-0">
                            <span class="input-group-text bg-white h-100 rounded-0">
                                <a class="cursor-pointer" (click)="ToogleShowHidePassword('confirmPassword')">
                                    <i-feather [name]="ShowPassword3 ? 'eye' : 'eye-off'"
                                        class="password-eye-icon"></i-feather>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5 mb-3">
                <button class="btn btn-block btn-pink" *ngIf="!_HelperService.IsFormProcessing"
                    (click)="submitForm()">Change Password</button>
                <button class="btn btn-block btn-pink" disabled *ngIf="_HelperService.IsFormProcessing">Please
                    wait...</button>
            </div>
        </form>
    </div>
</ng-container>