.nav-link.active{
    color: #B11A83 !important;
}
.nav-link.active span{
    color: #FFFFFF;
    background-color: #B11A83;
}

.btn-outline-light{
    border-color: #b4bdce;
    color: #7987a1;
}
.search-input{
    height: 35px !important;
}
.btn-xs {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.25rem;
}
.pointer{
    cursor: pointer;
}
.filter-body{
    width: 400px;
}
.nav-link span{
    background: #C0CCDA;
    border-radius: 4px;
    font-size: 14px;
    margin: 0.25rem;
    min-width: 2rem;
    text-align: center;
}
.nav-link{
    color: #586478 !important;
    display: flex;
    align-items: center;
    font-family: 'Roboto Regular';
    padding:0 !important;
}

td,th{
    padding: 0.75rem;
}