
      <div class="crumbs-wrapper">
        <span>DEALS / </span> <a class="active-crumb">ORDERS</a> 
     </div>  

     <div class="review-header mt-3 mb-3">
        <ul class="review-header_params nav" id="myTab" role="tablist">
            <li class="nav-item px-2">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#New" role="tab" aria-controls="home"
                aria-selected="true" (click)="ListTypeChange('all')">All
                <span>
                  {{_GetOverviewSummary?.TotalOrders || "0"}}
                </span></a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#New" role="tab" aria-controls="home"
                  aria-selected="true" (click)="ListTypeChange('new')">New
                  <span>
                    {{_GetOverviewSummary?.NewOrders || "0"}}
                  </span></a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Failed" role="tab" aria-controls="contact"
                  aria-selected="false" (click)="ListTypeChange('processing')"> Processing
                  <span>
                    {{_GetOverviewSummary?.ProcessingOrders || "0"}}
                  </span></a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Failed" role="tab" aria-controls="contact"
                  aria-selected="false" (click)="ListTypeChange('readyforpickup')"> Ready for Pickup
                  <span>
                    {{_GetOverviewSummary?.ReadyToPickUpOrders || "0"}}
                  </span></a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Failed" role="tab" aria-controls="contact"
                  aria-selected="false" (click)="ListTypeChange('shipped')"> Shipped
                  <span>
                    {{_GetOverviewSummary?.DispatchedOreders || "0"}}
                  </span></a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Failed" role="tab" aria-controls="contact"
                  aria-selected="false" (click)="ListTypeChange('delivered')"> Delivered
                  <span>
                    {{_GetOverviewSummary?.TotalDeliveredOrders || "0"}}
                  </span></a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Failed" role="tab" aria-controls="contact"
                  aria-selected="false" (click)="ListTypeChange('returned')"> Returned
                  <span>
                    {{_GetOverviewSummary?.FailedOrders || "0"}}
                  </span></a>
              </li>
              <li class="nav-item px-2">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#Failed" role="tab" aria-controls="contact"
                  aria-selected="false" (click)="ListTypeChange('cancelled')"> Cancelled
                  <span>
                    {{_GetOverviewSummary?.TotalCancelledOrders || "0"}}
                  </span></a>
              </li>
        </ul>
    </div>
       
      <div class="w-100">
      
        <div class="table-responsive border-td">
          <table class="table-borderless bg-white table">
            <thead>
              <tr>
                <th>Deal Title</th>
                <th>Confirmation Date</th>
                <th class="wd-100">Delivery Partner</th>
                <th class="wd-100">Price</th>
                <th class="wd-100">Qty</th>
                <th class="wd-100">Delivery Type</th>
                <th class="wd-100"> Delivery Status </th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                     let TItem of OrderData;">  
                <td class="">
                  {{ TItem?.DealTitle}}
                </td>
                <td>
                  {{ TItem.CreateDate | date: 'dd-MM-yyyy' || "--"}}
                </td>
                <td class="wd-100">
                  <div>
                    <span class="">{{ TItem.CarrierName || "--"}}</span>
                  </div>
                </td>
                <td class="wd-100">
                  {{ TItem.TotalAmount | number: "1.2-2" || "--" }}
                </td>
      
                <td class="wd-100">
                  {{TItem?.ItemCount}}
                </td>
                <td class="wd-100">
                  {{TItem.CarrierName? 'Delivery' : 'Pickup'}}
                </td>
                <td class="wd-100">
                  <span>{{TItem.StatusName}}</span> 
                </td>
                <td>
                    <a href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        <i-feather name="more-horizontal" class="small-icon primary-text"></i-feather>
                    </a>
                    <div class="dropdown-menu">
                        <div [ngSwitch]="actionType">
                            <div *ngSwitchCase="'new'">
                                <a class="dropdown-item" href="javascript:void(0)" 
                                (click)="cancellationModal(TItem)">Cancel Order</a>

                                <a class="dropdown-item" href="javascript:void(0)" 
                                (click)="OpenConfimation(TItem)">Confirm Order</a>
                            </div>
                            <div *ngSwitchCase="'processing'">
                                <a class="dropdown-item" href="javascript:void(0)" 
                                (click)="OpenReadyModal(TItem)">Mark As Ready</a>
                            </div>
                        </div>
                       <a class="dropdown-item" (click)="ViewOrder(TItem)">View Order</a>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-footer w-100">
          <div class="table-footer__inner">
  
              <span class="px-2">Showing 1 to 1 of {{TotalRecords}}</span> 
                  
              <div class="dropdown px-2">
                  Show
                  <select class="customized-select" [(ngModel)]="PageRecordLimit"
                        (ngModelChange)="WatchChange($event)">
                    <option *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit" [ngValue]="TItem">
                      {{TItem}}
                    </option>
                  </select>
              </div>
          </div>
  
          <div class="d-flex justify-content-end">
            <ng-container  *ngIf="pager?.pages && pager?.pages.length">
                <nav>
                    <ul class="custom-nav">
                        <li class="mx-2" 
                          (click)="setPage(pager.currentPage - 1)"
                          [ngClass]="{disabled:pager.currentPage === 1}">
                          <a>
                            <i-feather name="chevrons-left" class="pagination-icons xsm-icon"></i-feather>
                          </a>
                        </li>
                        <li class="nav-count px-2" *ngFor="let page of pager.pages" [ngClass]="{activePage: pager.currentPage === page}">
                            <a class="page-link" href="javascript:void(0)" (click)="setPage(page)" 
                                >{{page}}</a>
                        </li>
                        <li class="mx-2" [ngClass]="{disabled: pager.currentPage === pager.totalPages}">
                          <a (click)="setPage(pager.currentPage + 1 )">
                            <i-feather name="chevrons-right" class="pagination-icons xsm-icon"></i-feather>
                          </a>
                        </li>
                    </ul>
                </nav>
            </ng-container>
          </div>
        </div>
   </div>


   


   <div id="Form_Ready" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm as Ready</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="pb-1">
              <div class="row">
                <div class="col-md-12 d-flex">
                  <div class="col-md-2">
                    <img src="assets/images/utils/thumbs-up.svg">
                  </div>
                  <div class="col-md-10">
                    <span class="tx-14 text-secondary">Please confirm product is packed and Shipment
                      Label is pasted on shipment box or envelop.
                    </span>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-success tx-14 mg-r-10"
            style="float: right;" data-dismiss="modal" (click)="updateOrderStatus()"> 
            Mark as ready
          </button>
        </div>
      </div>
    </div>
  </div>


  <div id="Form_Cancellation" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cancellation of the order</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="pb-1">
            <h5 class="modal-title">Are you sure about cancelling the order ? </h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              NO
            </button>
            <button type="button" class="btn btn-primary tx-14 mg-r-10"
               style="float: right;" (click)="CancelOrder()" data-dismiss="modal">
              YES </button>
          </div>  
        </div>
      </div>
    </div>
  </div>



  <div id="Form_Confirmation" class="modal" data-backdrop="true" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation of Order</h5>
        </div>
        <div class="modal-body  p-lg">
          <div class="row">
            <div class="col-md-12">
              <div class="tx-16 tx-semibold">
                Order ID : {{ConfimationOrderDetails?.ReferenceId}}
              </div>
              <div class="tx-16 tx-semibold mg-b-10">
                Carrier Details
              </div>
              <div>
                <div class="d-flex align-items-center">
                  <div class="mg-r-15">
                    <img class="br" [src]="ConfimationOrderDetails?.CarrierIconUrl" class="img" width="50px">
                  </div>
                  <div class="px-3">
                    <div class="tx-12 tx-semibold">
                      {{ConfimationOrderDetails?.CarrierName}}
                    </div>
                    <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                      Pickup Time : 24 Hrs/With in 24 Hrs
                    </div>
                    <div class="mg-y-5 tx-12 tx-semibold text-secondary">
                      Expected delivery : {{ConfimationOrderDetails?.DeliveryDate | date :
                      'dd-MM-yyyy hh:mm a'}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary tx-14 mg-r-10"
            data-dismiss="modal" (click)="updateOrderStatus()"> Confirm Order
          </button>
        </div>
      </div>
    </div>
  </div>
