.review-header{
    background: #FFFFFF;
    border: 0.5px solid #C0CCDA;
    border-radius: 4px 4px 0px 0px;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    align-items: center;
}
.table-footer{
    background: #FFFFFF;
    border: 0.5px solid #C0CCDA;
    border-radius: 0px 0px 4px 4px;   
    padding: 0.75rem;
    align-content: center;
    justify-content: space-between;
    display: flex;
}
.table-footer__inner{
   display: flex;
   align-items: center;
}

.nav-wrapper{
    display: flex;
    align-items: center;
}
.pagination-icons{
    color: #C0CCDA;
    width: 15px;
    height: 15px;
}
td{
    padding: 0.75rem;
}


@media(max-width:1024px){
    .review-header_params li{
        margin-bottom: 0.25rem;
    }
}
@media(max-width:425px){
    .btn-container{
        width: 100%;
        margin-top: 0.5rem;
    }
    .primary-btn{
        width: 100%;
    }
}