<div>
    <div class="crumbs-wrapper">
        DEALS / <a class="active-crumb">STORE</a>
    </div>

    <div class="review-header mt-3 d-flex justify-content-end">
        <button type="button" class="btn btn-pink" (click)="open(createStoreModal)">Create New Store</button>
    </div>
    <div class="border-td table-responsive">
        <table class="table table-borderless table-light mb-2">
            <thead>
                <tr>
                    <th scope="col">Store Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Store Category</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let TItem of (TUTr_Config.Data | paginate : {
                        id: 'TUTr_Paginator',
                        itemsPerPage: TUTr_Config.PageRecordLimit,
                        currentPage: TUTr_Config.ActivePage,
                        totalItems: TUTr_Config.TotalRecords
                      })">
                    <td>{{TItem.DisplayName}}</td>
                    <td>{{TItem.Address | truncateText:40 || "--"}}</td>
                    <td>  
                        <span *ngFor="let item of TItem.Categories">{{item?.CategoryName}} &nbsp;</span>
                    </td>
                    <td>{{TItem.ContactNumber || "--"}}</td>
                    <td>{{TItem.StatusName}}</td>
                    <td>
                        <a href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            <i-feather name="more-horizontal" class="small-icon primary-text"></i-feather>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" (click)="open(createStoreModal, TItem)">Edit</a>
                            <a class="dropdown-item" (click)="changeStatus(TItem)">{{TItem.StatusName == 'Active' ? 'Deactivate' : 'Activate'}}</a>
                            <a class="dropdown-item text-danger" (click)="deleteStore(TItem)">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="table-footer">
            <div class="table-footer__inner justify-content-between w-100">
                <div class="d-flex align-items-center">
                    <span class="px-2">Showing
                        <span class="bold">
                            {{TUTr_Config.ShowingStart}}
                            To
                            {{TUTr_Config.ShowingEnd}}
                        </span>
                        {{TUTr_Config.TotalRecords}}
                    </span>
    
                    <div class="dropdown px-2">
                        Show
                        <select class="wd-50 " [(ngModel)]="TUTr_Config.PageRecordLimit"
                            (ngModelChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Limit)">
                            <option [ngValue]="TItem" *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit">
                                {{TItem}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="float-right">
                    <pagination-controls id="TUTr_Paginator" class="pagination pagination-space"
                        (pageChange)="TUTr_ToggleOption( $event, _HelperService.AppConfig.ListToggleOption.Page)"
                        nextLabel="Next" previousLabel="Previous">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #createStoreModal let-modal>
    <app-create-store [modal]="modal" [editStoreItem]="editStoreItem" (reloadList)="reloadList($event)"></app-create-store>
</ng-template>