<div class="pt-6">

    <div class="container">
        <div class="crumbs-wrapper">
            <span>DEALS /</span><a class="active-crumb">&nbsp; REVIEW</a> 
        </div>   

        <div class="review-header mt-3">
            <div class="review-header_params">
                <div class="px-2 active-panel">Total Review <span>200</span> </div>
                <div class="px-2">Ratings<span>200</span> </div>
                <div class="px-2">Product Quality <span>200</span> </div>
                <div class="px-2">Delivery Rate <span>200</span> </div>
            </div>

            <div>
                <button class="btn white-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    This week
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" type="button">Action</button>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <table class="table table-borderless bg-white">
                <thead>
                <tr>
                    <th scope="col">Review</th>
                    <th scope="col">Product</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="p-2">
                                <img src="assets/images/utils/user-placeholder_product.svg" />
                            </div>
                            <div class="p-2">
                                <span>
                                    <strong>Ayotola Joshua</strong>     
                                    <small class="float-right text-muted__table">12:31 Pm. 23rd Nov, 2022</small>
                                </span>
                                <p>This product is amazing,I love the way it feels.</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <img class="px-2" src="assets/images/utils/product-placeholder.svg" /> 
                             <span class="px-2">25% off 3 set electronics gadget...</span> 
                        </div>
                    </td>
                    <td>
                         <span class="pr-2">4.5</span>  
                        <img src="assets/images/utils/star-rating.svg" />
                    </td>
                    <td>
                        <img src="assets/images/icons/options.svg"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex">
                            <div class="p-2">
                                <img src="assets/images/utils/user-placeholder_product.svg" />
                            </div>
                            <div class="p-2">
                                <span>
                                    <strong>Ayotola Joshua</strong>     
                                    <small class="float-right text-muted__table">12:31 Pm. 23rd Nov, 2022</small>
                                </span>
                                <p>This product is amazing,I love the way it feels.</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex">
                            <img class="px-2" src="assets/images/utils/product-placeholder.svg" /> 
                             <span class="px-2">25% off 3 set electronics gadget...</span> 
                        </div>
                    </td>
                    <td>
                         <span class="pr-2">4.5</span>  
                        <img src="assets/images/utils/star-rating.svg" />
                    </td>
                    <td>
                        <img src="assets/images/icons/options.svg"/>
                    </td>
                </tr>

                </tbody>
            </table>

            <div class="table-footer">
                <div class="table-footer__inner">
                    <span class="px-2">Showing 1 to 1 of 0</span> 
                        
                    <div class="dropdown px-2">
                        Show
                        <button class="btn white-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            1
                        </button>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" type="button">Action</button>
                        </div>
                    </div>
                </div>
                <div class="nav-wrapper">
                    <nav>
                        <ul class="nav-list">
                            <li class="mx-2">
                                <i-feather name="chevrons-left" class="pagination-icons xsm-icon"></i-feather> 
                            </li>
                            <li class="mx-2">
                                <i-feather name="chevrons-right" class="pagination-icons xsm-icon"></i-feather>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
       
    </div>
</div>