
<div class="container-fluid dashboard-wrapper">
   
    <div class="crumbs-wrapper">
        <span> DEALS /</span> <a class="active-crumb">&nbsp;WALLET CASH-OUT</a>
    </div>

    <div class="d-flex justify-content-between pt-2 flex-wrap mt-3">
        <div>
          <h5 class="fw-500 mainColor">Overview </h5> 
        </div>
        
        <div class="d-flex justify-content-between action-buttons flex-wrap">
            <span class="px-2">
                <input type="text"
                placeholder="Select date range"
                class="form-control"
                bsDaterangepicker
                (bsValueChange)="onValueChange($event)">
            </span>
            <span class="px-2">
                <button class="btn btn-orig" (click)="withdrawModal()">Withdraw</button>
            </span>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 col-sm-3">
            <div class="info-card bg-biege">
                <span class="mb-2">
                    <img src="assets/images/icons/blue-ico.svg" />
                </span>
                <span>
                     <h6 class="mb-0">Wallet Balance</h6>
                </span>
                <span class="">
                    <h3> {{ (BalanceOverview?.Balance || 0)  | number: '.2'}}</h3>
                </span> 
                <span>Amount in Wallet</span>
            </div>
        </div>
        <div class="col-12 col-sm-3">
            <div class="info-card bg-pinkett">
                <span class="mb-2">
                    <img src="assets/images/icons/purple-ico.svg" />
                </span>
                <span>
                     <h6>Amount Approved</h6>
                </span>
                <span>
                    <h3> {{ (WalletOverview?.ApprovedAmount || 0)  | number: '.2'}}</h3>
                </span> 
                <span>Total amount approved</span>
            </div>
        </div>
        <div class="col-12 col-sm-3">
            <div class="info-card bg-grey-pink">
                <span class="mb-2">
                    <img src="assets/images/icons/pink-ico.svg" />
                </span>
                <span>
                     <h6>Amount Rejected</h6>
                </span>
                <span>
                    <h3> {{ (WalletOverview?.RejectedAmount || 0)  | number: '.2'}}</h3>
                </span> 
                <span>Total amount rejected</span>
            </div>
        </div> 
        <div class="col-12 col-sm-3">
            <div class="info-card bg-orange-light">
                <span class="mb-2">
                    <img src="assets/images/icons/orange-ico.svg" />
                </span>
                <span>
                     <h6>Pending</h6>
                </span>
                <span>
                    <h3> {{ (WalletOverview?.PendingAmount || 0)  | number: '.2'}}</h3>
                </span> 
                <span>Total amount of  payment pending</span>
            </div>
        </div>
    </div>

    <div class="review-header mt-4">
        <h6 class="mb-0">Cashout History</h6>
        <div>
            <span class="d-flex justify-content-between">
                <button class="btn white-btn btn-sm" (click)="exportToExcel()">
                    <i-feather name="download" class="small-icon"></i-feather>
                    Export
                </button>
            </span>
        </div>
    </div>
    <div class="table-responsive border-td mt-3">
        <table class="table table-borderless bg-white">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Date</th>
                <th scope="col">Transaction ID</th>
                <th scope="col">Withdrawal Amount  (<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>) </th>
                <th scope="col">Withdrawal Charges  (<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>) </th>
                <th scope="col">Total Amount  (<span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>) </th>
                <th scope="col">Store Name</th>
                <th scope="col">Transaction Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of CashOutData; let i = index">
                    <td>
                        {{i +1 }}
                    </td>
                    <td>{{item?.StartDate |  date: 'dd-MM-yyyy' || "--" }}</td>
                    <td>{{item?.ReferenceNumber}}</td>
                    <td>{{item?.Amount  | number: "1.2-2" || "--" }}</td>
                    <td>{{item?.Charge  | number: "1.2-2" || "--" }}</td>
                    <td>{{item?.TotalAmount  | number: "1.2-2" || "--" }}</td>
                    <td>{{item?.AccountDisplayName}}</td>
                    <td> <span [ngClass]="CastColour(item?.StatusName)">{{item?.StatusName}}</span> </td>
                    <td>
                        <a href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                            <i-feather name="more-horizontal" class="small-icon primary-text"></i-feather>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item fs-12" (click)="PreviewItem(item);">View</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="table-footer">
            <div class="table-footer__inner">
    
                <span class="px-2">Showing 1 to {{PageRecordLimit}} of {{TotalRecords}}</span> 
                    
                <div class="dropdown px-2">
                    Show
                    <select class="customized-select" [(ngModel)]="PageRecordLimit"
                        (ngModelChange)="WatchChange($event)">
                    <option *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit" [ngValue]="TItem">
                        {{TItem}}
                    </option>
                    </select>
                </div>
            </div>
    
            <div class="d-flex justify-content-end">
                <ng-container  *ngIf="pager?.pages && pager?.pages.length">
                    <nav>
                        <ul class="custom-nav">
                            <li class="mx-2" 
                                (click)="setPage(pager.currentPage - 1)"
                                [ngClass]="{disabled:pager.currentPage === 1}">
                                <a>
                                <i-feather name="chevrons-left" class="pagination-icons xsm-icon"></i-feather>
                                </a>
                            </li>
                            <li class="nav-count px-2" *ngFor="let page of pager.pages" 
                                [ngClass]="{activePage: pager.currentPage === page}">
                                <a class="page-link" href="javascript:void(0)" (click)="setPage(page)" 
                                    >{{page}}</a>
                            </li>
                            <li class="mx-2" [ngClass]="{disabled: pager.currentPage === pager.totalPages}">
                                <a (click)="setPage(pager.currentPage + 1 )">
                                <i-feather name="chevrons-right" class="pagination-icons xsm-icon"></i-feather>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </ng-container>
            </div>
        </div>

    </div>
        
</div>