<div style="height:100vh">
    <div class="row">
        <div class="col-md-9" style="padding-right: 0px;padding-left: 0px;">
            <div class="crumbs-wrapper mb-3">
                <span>DEALS / </span> <a class="active-crumb">ORDERS</a> 
             </div> 
          

            <div class="d-flex mb-3">
                <div class="col-md-3" style="padding-left: 0px;">
                    <div class="form-group  mb-0 pb-0 wd-200  mg-r-5 position-relative" id="DateRangeOptionsCustom_Date">
                        <!-- <input type="text" class="form-control form-daterangepicker full-width" name="daterangeInput" daterangepicker [options]="_HelperService.AppConfig.DateRangeOptionsCustom" 
                            (selected)="DateChanged($event, _HelperService.AppConfig.ListToggleOption.Date)"
                        /> -->
                    </div>
                </div>
            </div>

            <div id="overview" class="pd-t-10" style="padding-right: 10px;">

                <div class="row row-xs mg-b-10 ">
                    <div class="col-sm-6 col-lg-4 ">
                        <div class="card card-body shadow-none ht-100p">
                            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">TOTAL SALE AMOUNT</h6>
                            <div class="row d-flex d-lg-block d-xl-flex align-items-center">
                                <div class="col-md-6">
                                    <h3 class="tx-rubik tx-16 tx-dark mg-b-8 mg-r-5 lh-1 Word-break">
                                        {{_GetoverviewSummary.TotalOredersAmount || "0"}}
                                    </h3>
                                </div>
                            </div>
                            <p class="tx-12 text-secondary mg-b-0"> Total sale amount in selected duration</p>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col-sm-6 col-lg-4 mg-t-15  mg-sm-t-0">
                        <div class="card card-body shadow-none ht-100p">
                            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Delivery Order For Deals</h6>
                            <div class="d-flex d-lg-block d-xl-flex align-items-end">
                                <h3 class=" tx-dark tx-rubik mg-b-8 mg-r-5 lh-1">
                                    {{_GetoverviewSummary.TotalDeliveredOrders || "0"}} </h3>

                            </div>
                            <p class="tx-12 text-secondary mg-b-0"> Generated <span class="tx-dark"> {{_GetoverviewSummary.DeliveredOredersAmount || "0"}} sales</span> </p>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col-sm-6 col-lg-4 mg-t-15  mg-lg-t-0">
                        <div class="card card-body shadow-none ht-100p">
                            <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-color-02 tx-semibold mg-b-8">Pickup Order For Deals</h6>
                            <div class="row d-flex d-lg-block d-xl-flex align-items-center">
                                <div class="col-md-9">
                                    <h3 class="tx-dark tx-rubik  mg-b-8 mg-r-5 lh-1 Word-break">
                                        {{_GetoverviewSummary.PickUpOredersAmount || "0" }}
                                    </h3>
                                </div>
                                <!-- <div class="col-md-3" style="float: right; padding-left: 0px;"> <span class="tx-11 tx-success"><i
                          data-feather="arrow-up" style="color: #10B759;width: 16px;"> </i></span>
                    </div> -->
                            </div>
                            <p class="tx-12 text-secondary mg-b-0">Total sale amount in selected duration</p>
                        </div>
                    </div>
                    <!-- col -->
                </div>

                <div class="row row-xs mt-3">
                    <div class="col-lg-12 col-xl-12 col-sm-12 col-md-12">
                        <div class="card">
                            <div class="card-header pd-t-20 d-sm-flex d-flex align-items-start justify-content-between">
                                <div class="col-md-6">
                                    <h6 class="mg-b-5 "> Sales and Revenue Report</h6>
                                    <!-- <div class="text-secondary tx-11">
                        Show average peak time of day in week <span style="color:#1B2E4B">{{CurrentRange.ActualStartDate | date :["dd LLL yy"]}} to {{CurrentRange.CompareStartDate | date :["dd
                            LLL yy"]}}</span> in terms of
                        sales amount
                      </div> -->

                                    <div class="text-secondary tx-11">
                                        Show average peak time of day in week <span style="color:#1B2E4B"> {{startDate | date :["dd
                            LLL yy"]}} to {{endDate | date :["dd LLL yy"]}}</span> in terms of sales amount
                                    </div>
                                </div>

                            </div>
                            <div class="card-body pd-lg-25">
                                <div class="row">
                                    <!-- Graph Feature TBD -->
                                    <!-- <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.SalelineChartData[0].data.length != 0">
                                        <canvas *ngIf="showSaleChart" baseChart #DataPlot="base-chart" [datasets]="SalelineChartData" [labels]="SalelineChartLabels" [options]="_HelperService.ChartConfig.LineChart.Options" [colors]="SalelineChartColors" [plugins]="_HelperService.ChartConfig.LineChart.Options.plugins"
                                            [chartType]="_HelperService.ChartConfig.LineChart.Type">
                        </canvas>
                                    </div> -->
                                    <!-- Graph Feature TBD -->
                                    <!-- <div class="col-lg-7 col-xl-8 ht-100p" *ngIf="this.SalelineChartData[0].data.length == 0">
                                        <div style="height:200px" class="text-center m-auto  text-muted">
                                            <div>
                                                <div>
                                                    <div class="wd-140 wd-md-150 ht-140 ht-md-150 bd bd-2 bd-muted bg-transparent tx-muted tx-32 bd-gray-300 m-auto d-flex align-items-center justify-content-center rounded-circle">
                                                        
                                                        <img src="../../../../../assets/images/walk.svg" alt="">
                                                    </div>
                                                    <div class="pt-3">
                                                        <span class="text-dark tx-bold tx-14 "> No deals sold out in this timeframe </span><br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <!-- card-body -->
                        </div>
                        <!-- card -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 p-2 mb-3" style="border: 1px solid #C0CCDA ; background-color:#E5E9F2;">
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12" style="padding-top: 10px;">
                    <span class="tx-semibold tx-14" style="padding-left: 13px;">
                    {{DealsData1 || 0}} Ongoing Deals
              </span>
                </div>
            </div>

            <div class="card mb-3" *ngFor="let Item of DealsData">
                <div class="row">
                    <div class="px-3 pt-3">
                        <img height="100px" class="pl-3" src="{{Item.ImageUrl}}" alt="" />
                    </div>
                    <div class="col-md-12" *ngIf="Item.ImageUrl == '' " style="height: 100px;margin-left: auto;margin-right: auto">
                        Deal Image not availble
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 5px;">
                    <span class="text-secondary tx-12 tx-semibold"> <i data-feather="calendar" style="height: 15px;"></i> {{_HelperService.GetDateS(Item.StartDate)|| "--"}}
                to
                {{_HelperService.GetDateS(Item.EndDate)||"--"}}</span>
                </div>
                <div class="col-md-12 d-flex" style="margin-top: 20px;">
                    <div class="col-md-10" style="padding-left: 4px;">
                        <span class=" tx-14 tx-semibold"> {{Item.Title}}</span>
                    </div>
                    <div class="col-md-2 tx-14 tx-semibold">
                        <i data-feather="arrow-right" style="height: 14px;"></i>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top: 5px;padding-left: 21px;">
                    <span class="tx-12 tx-semibold">
                <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> {{Item.SellingPrice || "--"}}
                    <span class="text-secondary" style="padding-left: 5px"> <span
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span><s>{{Item.ActualPrice || "--"}}</s>
                    </span>
                    </span>
                </div>
                <div class="col-md-12 d-flex" style="margin-top: 20px; margin-bottom: 5px;">
                    <div class="col-md-8" style="padding-left: 2px;">
                        <span class=" tx-12 tx-semibold" style="color:#5B47FB">{{Item.TotalPurchase || "--"}} sold /{{Item.TotalAvailable || "--"}} remaining</span>
                    </div>
                    <div class="col-md-4 tx-12 tx-semibold" style="color: #5B47FB ; padding-left: 0px;">
                        ₦ {{((Item.TotalPurchase)*Item.SellingPrice )}}
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="row">
                    <div class="col-md-12 d-flex p-2 mb-2">
                        <div class="col-md-10">
                            <span class="tx-semibold tx-14"> {{_GetoverviewDealSummary.Upcoming || 0 }} upcoming deal</span>
                        </div>
                        <div class="col-md-2" class="cursor-pointer" (click)="Routeupcoming()">
                            <i data-feather="arrow-right" style="height: 14px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>