<div class="sidebar">
    <div class="sidebar_upper">
        <div class="p-2 img-container">
            <img src="assets/images/logo/dealday_logo.svg" class="img-fluid img-logo">
        </div>
        <div class="p-2" (click)="collapseBar()">
            <img src="assets/images/icons/hamburger.svg" class="img-fluid" />
        </div>
    </div>
    <div class="sidebar_lower">
        <div class="sidebar_lower-users">
            <div class="p-2 avatar">
                <img class="avar-img" src="{{_HelperService.UserAccount.IconUrl}}" />
            </div>
            <div class="p-2 align-self-center pointer">
                <img class="logout-img" src="assets/images/icons/exit-icon.svg" (click)="confirmLogout()" />
            </div>
        </div>
        <div>
            <h6 class="display-name">{{ _HelperService.UserAccount.DisplayName }}</h6>
            <p class="role-name text-muted">Merchant Manager</p>

            <div class="sidebar_lower-links">
                <ul>
                    <li>
                        <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="d-flex">
                            <i-feather name="home" class="small-icon"></i-feather>
                            <span class="px-2">Dashboard</span>
                        </a>
                    </li>
                </ul>

                <h6 class="text-bold">DEALS</h6>
                <ul>
                    <li>
                        <a [routerLink]="['/deals']" class="d-flex" routerLinkActive="router-link-active">
                            <i-feather name="activity" class="small-icon"></i-feather>
                            <span class="px-2">All Deals</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/stores']" class="d-flex" routerLinkActive="router-link-active">
                            <i-feather name="pie-chart" class="small-icon"></i-feather>
                            <span class="px-2"> Stores</span>
                        </a>
                    </li>
                    <!-- :: Implementation Archived -->
                    <!-- <li>
                        <a  class="link-body" routerLinkActive="router-link-active" data-toggle="collapse" 
                            href="#dealsMenu" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i-feather name="tag" class="small-icon"></i-feather>
                            <span class="px-2 mr-auto"> Deal Management</span>
                            <span class="float-right">
                                <i-feather name="chevron-right" class="xsm-icon"></i-feather>
                            </span>
                        </a>
                    </li>
                    <div class="collapse" id="dealsMenu">
                        <ul class="submenu">
                            <li class="pointer">
                                <a [routerLink]="['/deals/all-deals']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">All Deals</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/deals/sold-history']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Sold Deals</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/deals/redeemed-deals']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Utilized Deals</span>
                                </a>
                            </li>
                        </ul>
                    </div> -->
                </ul>

                <h6 class="text-bold">ORDERS</h6>
                <ul>
                    <!-- <li>
                        <a [routerLink]="['/orders/overview']" routerLinkActive="router-link-active" class="d-flex">
                             <span class="float-left">
                                <i-feather name="activity" class="small-icon"></i-feather>
                            </span>
                            <span class="px-2">Order Overview</span>
                        </a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/orders/management']" routerLinkActive="router-link-active" class="d-flex">
                            <i-feather name="shopping-cart" class="small-icon"></i-feather>
                            <span class="px-2">Orders</span>
                        </a>
                    </li>
                    <!-- :: Implementation Archived -->
                    <!-- <li>
                        <a [routerLink]="['/orders/history']" routerLinkActive="router-link-active" class="d-flex">
                            <i-feather name="list" class="small-icon"></i-feather>
                            <span class="px-2">Order History</span>
                        </a>
                    </li> -->
                </ul>

                <h6 class="text-bold">Payments Management</h6>
                <ul>
                   <li>
                        <a  class="link-body" routerLinkActive="router-link-active" data-toggle="collapse" 
                            href="#paymentMenu" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i-feather name="tag" class="small-icon"></i-feather>
                            <span class="px-2 mr-auto">Payments</span>
                            <span class="float-right">
                                <i-feather name="chevron-right" class="xsm-icon"></i-feather>
                            </span>
                        </a>
                    </li>
                    <div class="collapse" id="paymentMenu">
                        <ul class="submenu">
                            <li class="pointer">
                                <a [routerLink]="['/payments/payment']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Payment</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/payments/wallet-cashout']" routerLinkActive="router-link-active" class="d-flex">
                                    <span class="px-2">Wallet Cashout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </ul>
                  <!-- :: Implementation Archived -->
                <!-- <h6 class="text-bold">PICKUP/INSTORE MANAGEMENT</h6>
                <ul>
                    <li>
                        <a [routerLink]="['/pickups/all-pickup']" class="d-flex" routerLinkActive="router-link-active">
                            <i-feather name="package" class="small-icon"></i-feather>
                            <span class="px-2"> All Pickups</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/pickups/redemeed-orders']" class="d-flex" routerLinkActive="router-link-active">
                            <i-feather name="gift" class="small-icon"></i-feather>
                            <span class="px-2"> Redeemed Orders</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/pickups/cancelled-orders']" class="d-flex" routerLinkActive="router-link-active">
                            <i-feather name="x-square" class="small-icon"></i-feather>
                            <span class="px-2">Cancelled Orders</span>
                        </a>
                    </li>
                </ul> -->
                <!-- :: Implementation Archived -->
                <!-- <h6>RATINGS </h6>
                <ul>
                    <li>
                        <a [routerLink]="['/ratings']" class="link-body" routerLinkActive="router-link-active">
                            <i-feather name="tag" class="small-icon"></i-feather>
                            <span class="px-2 mr-auto">Ratings and Feedbacks</span>
                            <span class="">
                      <i-feather name="chevron-right" class="xsm-icon"></i-feather>
                    </span>
                        </a>
                    </li>
                </ul> -->
                <h6>MY BUSINESS</h6>
                <ul>
                    <li>
                        <a [routerLink]="['/settings']" class="link-body" routerLinkActive="router-link-active">
                            <i-feather name="settings" class="small-icon"></i-feather>
                            <span class="px-2 mr-auto">Account settings</span>
                        </a>
                    </li>
                </ul>

                <h6 class="text-bold">UTILITIES</h6>
                <ul>
                    <li>
                        <a [routerLink]="['/utilities/downloads']" class="d-flex" routerLinkActive="router-link-active">
                            <i-feather name="download" class="small-icon"></i-feather>
                            <span class="px-2">Downloads</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['/utilities/faqs']" class="d-flex" routerLinkActive="router-link-active">
                            <i-feather name="help-circle" class="small-icon"></i-feather>
                            <span class="px-2">FAQ</span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>

</div>