<div class="crumbs-wrapper">
    <span>UTILITIES / </span> <a class="active-crumb">DOWNLOADS</a> 
 </div>  
<div class="mt-3">
    <div class="p-3 bg-white">
        <div class="d-flex">
            <h5>All Downloads</h5>
        </div>
    </div>
    <div class="p-0 table-responsive border-td mt-3">
        <table class="table table-borderless bg-white">
        <thead>
        <tr>
            <th>Status</th>
            <th>Name</th>
            <th>Request On</th>
            <th>Available On</th>
            <th class="text-center">Download</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let TItem of DownloadData">
                <td>
                    <ng-container 
                        *ngIf="TItem.IconUrl != undefined;else availableBlock" >
                        <span class="text-success">
                            <i class="{{TItem.StatusI || ''}}"></i> Available
                        </span>
                    </ng-container>
                    <ng-container #availableBlock>
                        <i class="{{TItem.StatusI || ''}}"></i> Preparing
                    </ng-container>
                </td>
                <td>
                    {{TItem.Name  || "--"}}
                </td>
                <td>
                    {{TItem.CreateDate  || "--"}}
                </td>
                <td>
                    {{TItem.ModifyDate  || "--"}}
                </td>
                <td>
                    <ng-container 
                        *ngIf="TItem.IconUrl != undefined;else downloadBlock" >
                        <span class="text-success">
                            <a class="btn btn-outline b-warn text-warn btn-xs p-0"
                                href="{{TItem.IconUrl}}" target="_blank">
                                <i class="fas fa-download "></i> download
                            </a>
                        </span>
                    </ng-container>
                    <ng-container #downloadBlock>
                        <a class="btn btn-outline b-warn text-warn btn-xs p-0" readonly>
                            <i class="fas fa-download "></i> download
                        </a>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="table-footer">
        <div class="table-footer__inner">

            <span class="px-2">Showing 1 to 1 of {{TotalRecords}}</span> 
                
            <div class="dropdown px-2">
                Show
                <select class="customized-select" [(ngModel)]="PageRecordLimit"
                    (ngModelChange)="WatchChange($event)">
                <option *ngFor="let TItem of _HelperService.AppConfig.ListRecordLimit" [ngValue]="TItem">
                    {{TItem}}
                </option>
                </select>
            </div>
        </div>

        <div class="d-flex justify-content-end">
        <ng-container  *ngIf="pager?.pages && pager?.pages.length">
            <nav>
                <ul class="custom-nav">
                    <li class="mx-2" 
                        (click)="setPage(pager.currentPage - 1)"
                        [ngClass]="{disabled:pager.currentPage === 1}">
                        <a>
                        <i-feather name="chevrons-left" class="pagination-icons xsm-icon"></i-feather>
                        </a>
                    </li>
                    <li class="nav-count px-2" *ngFor="let page of pager.pages" [ngClass]="{activePage: pager.currentPage === page}">
                        <a class="page-link" href="javascript:void(0)" (click)="setPage(page)" 
                            >{{page}}</a>
                    </li>
                    <li class="mx-2" [ngClass]="{disabled: pager.currentPage === pager.totalPages}">
                        <a (click)="setPage(pager.currentPage + 1 )">
                        <i-feather name="chevrons-right" class="pagination-icons xsm-icon"></i-feather>
                        </a>
                    </li>
                </ul>
            </nav>
        </ng-container>
    </div>
    </div>
</div>