 <div class="crumbs-wrapper">
    <span class="px-2">DEALS </span> /
    <span class="px-2">
         <a class="active-crumb">ORDERS</a> 
    </span>/
    <span class="px-2">
        <a class="active-crumb">ORDER DETAILS</a> 
    </span>
 </div>  

<div class="row">
<div class="col-md-12 pd-l-0 py-3">
    <div class="card ">
        <div [className]="_HelperService._Assets.Box.header">
            <div class="tx-14 tx-bold"> <a>  <span class="tx-primary cursor-pointer">  <i data-feather="chevron-left">  </i> </span> </a> ORDER ID {{_OrderDetail.ReferenceId}}  <span class="{{_OrderDetail.StatusB}} mg-l-10">
              {{_OrderDetail.StatusName || "--"}} </span>  <span class="tx-normal mg-l-10 border-left"> 
                  <span class="mg-l-5">Created Date : </span>
                   {{_OrderDetail.CreateDateS || "--"}} 
                </span> </div>

            <div [className]="_HelperService._Assets.Box.headerTitleRight">
                <nav class="nav nav-icon-only mg-l-auto">
                    <button type="button"
                        *ngIf="_OrderDetail.StatusCode == 'orderstatus.new'"
                        class="btn btn-sm btn-primary" data-toggle="modal" (click)="OpenConfimationModal()"> Confirm Order
                    </button>
                </nav>
            </div>
        </div>
    </div>
</div>
    <div class="col-md-7">
        <div class="card">
            <div class="card-header bg-white">
                <h5> Summary </h5>
            </div>
            <div>
                <div class="d-flex align-items-center justify-content-between p-3">
                    <div class="p-2">
                        <img src="{{_OrderDetail.DealIconUrl}}" class="" width="50px">
                    </div>
                    <div class="p-2">
                        <span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        <span class="text-lsm">
                            {{ _OrderDetail.DealPrice || "--"}}
                        </span>
                    </div>
                    <div class="p-2">
                      <span>  {{ _OrderDetail.ItemCount || "--"}}</span>  
                    </div>
                    <div class="p-2">
                        <span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                        {{((_OrderDetail.DealPrice)*_OrderDetail.ItemCount) | number:'1.2-2' }}
                    </div>
                </div>  
            </div>
        </div>

        <div class="card pt-3">
            <div class="card-header bg-white">
                <h5> Payment Summary </h5>
            </div>
            <div class="row pd-x-20 pd-b-15">
                <div class="col-md-4 ">
                    <div class="px-3 py-2">SubTotal{{_OrderDetail.ItemCount}}</div>
                    <div class="px-3 py-2">Deal Price</div>
                    <div class="px-3 py-2">Shipping Charges</div>
                    <div class="px-3 py-2">Tax</div>
                </div>
                <div class="col-md-8 text-right">
                    <div class="px-3 py-2"> <span class="mg-r-2"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_OrderDetail.SubTotalAmount | number:'1.2-2'}}
                    </div>
                    <div class="px-3 py-2"> <span class="mg-r-2"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_OrderDetail.DealPrice  | number:'1.2-2'}}
                    </div>
                    <div class="px-3 py-2"> <span class="mg-r-2"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>{{_OrderDetail.RateAmount| number:'1.2-2'}}
                    </div>
                    <div class="px-3 py-2"> <span class="mg-r-2"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                            {{_OrderDetail.InsuranceAmount | number:'1.2-2'}}
                    </div>
                </div>
            </div>
        </div>
   
        <div class="card mg-t-15">
            <div class="card-header pd-b-0 pd-x-20 bd-b-0">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <h6 class="mg-b-2">Activities</h6>
                </div>
            </div>
            <div class="timeline-group tx-13" >
                <div class="timeline-item mg-b-15"  *ngFor="let Activity of Trackshipment_Details">
                  <div class="timeline-time">{{Activity.created_at}}</div>
                  <div class="timeline-body">
                    <h6 class="mg-b-0">{{Activity.description}}</h6>
                    <h4>{{Activity.location}}</h4>
                  </div>
                </div>   
              </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                <h5> Customer</h5>
                    <div class="d-flex align-items-center">
                    <img src="{{_OrderDetail.CustomerIconUrl}}" alt=""
                       width="50px" class="img wd-40 ht-40 rounded-circle bd bd-2 pd-1" [style.border-color]="_OrderDetail.StatusC">
                    <div class="mg-l-20 tx-13 tx-medium text-secondary"> {{_OrderDetail.CustomerDisplayName || "--"}}
                    </div>
                </div>
            </div>
            <div class="pd-15">
                <div class="pt-3 bg-white p-3">
                    <h5>Contact Info </h5>
                    <div class="mg-b-5">
                        <div class="text-secondary"> <i data-feather="phone" class="mg-r-10" style="width: 20px;height: 20px ;"> </i> {{_OrderDetail.CustomerMobileNumber || "--"}} </div>
                    </div>
                    <div class="">
                        <div class="text-secondary"><i data-feather="mail"  class="mg-r-10" style="width: 20px;height: 20px ;"></i> {{_OrderDetail.CustomerEmailAddress || "--"}} </div>
                    </div>
                </div>
                <hr>
                <div class="card-body">
                    <h5>Shipping Address </h5>
                    <div class="mg-b-5 text-secondary">
                        <div class=""> {{_OrderDetail.CustomerAddress || "--"}} </div>
                    </div>
                </div>
                <div class="card-footer">
                    <h5>Billing address </h5>
                    <div class="mg-b-5 text-secondary">
                        <div class=""> {{_OrderDetail.CustomerAddress || "--"}} </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card mg-t-15">
            <div class="card-header">
                <h5> Store </h5>
                <div class="pd-5">
                        <div class="">
                            <div class="tx-13 tx-medium"> {{_OrderDetail.MerchantDisplayName || "--"}} </div>
                        </div>
                </div>
            </div>
                <div class="card-body">
                    <h5>Contact Info </h5>
                    <div class="text-secondary">
                        <div>
                            <div class="mb-2">
                                <span class="_500 text-ellipses"> <i data-feather="phone"  class="mg-r-10" style="width: 20px;height: 20px ;"></i> 
                                    {{_OrderDetail.MerchantMobileNumber || "--"}}
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="text-secondary"><i data-feather="mail"  class="mg-r-10" style="width: 20px;height: 20px ;"></i> 
                        <span class="_500 text-ellipses"> {{_OrderDetail.MerchantEmailAddress || "--"}} </span>
                    </div>
                </div>
                <div class=" card-footer">
                    <h5> Address </h5>
                    <div class="mg-b-5 text-secondary">
                        <div class=""> {{_OrderDetail.MerchantAddress || "--"}}
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmation of Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="radio  mr-3">
                 Are you sure about confirm the Order
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" type="submit" class="btn btn-primary" (click)="UpdateStatus()">Yes</button>
            </div>
        </div>
    </div>
</div>