<ng-container>
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Set up your Bank Details</h6>
    </div>
    <div class="modal-body" ngbAutofocus>
        <div class="row">
            <div class="py-3">
                <div class="details_wrapper" *ngFor="let item of BankList">
                    <div class="d-flex flex-column">
                        <span>{{item?.Name}}</span>
                        <span>{{item?.BankName}}</span>
                        <span>{{item?.AccountNumber}}</span>
                        <span *ngIf="item?.IsPrimaryAccount"><img src="assets/images/icons/feather-check.svg" /> 
                                Primary Account Details</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="fs-10 mx-1 pointer" (click)="DeleteAccount(item)">
                            <i-feather name="trash" class="small-icon"></i-feather>
                            Delete
                        </span>
                        <span class="fs-10 mx-1 pointer" (click)="EditAccount(item)">
                            <i-feather name="edit-2" class="small-icon"></i-feather>
                            Edit
                        </span>
                    </div>
                </div>
            </div>
            
             <form  [formGroup]="PaymentForm">
                <div class="form-group">
                    <label>Store Bank Account Name  <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" 
                        placeholder="Enter Bank Account Name" formControlName="Name" />
                </div>
                <div class="form-group">
                    <label>Bank Name<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" 
                        placeholder="Enter Bank Name" formControlName="BankName" />
                </div>
                <div class="form-group">
                    <label>Bank Code<span class="text-danger">*</span></label>
                        <input type="tel" class="form-control" 
                        placeholder="Enter Bank Code" 
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                        formControlName="BankCode" />
                </div>
                <div class="form-group">
                    <label>Account Number<span class="text-danger">*</span></label>
                        <input type="tel" class="form-control" 
                        placeholder="Enter Account Number" 
                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                        formControlName="AccountNumber" />
                </div>
                <div class="form-group">
                    <div>
                        <input class="styled-checkbox" id="primary-details" 
                                formControlName="IsPrimaryAccount" 
                                type="checkbox">
                        <label for="primary-details">Save as primary bank details</label>
                    </div>
                </div>
             </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex">
            <span class="px-2">
                <button class="btn btn-neutral-filled" (click)="activeModal.close('Close click')">Close</button>
            </span>
            <div *ngIf="!_HelperService.IsFormProcessing">
                <span class="px-2" *ngIf="task == 'savebankaccount'">
                    <button class="btn btn-primary-filled" type="submit" 
                        (click)="addAccount(PaymentForm.value)" [disabled]="PaymentForm.invalid">Add Bank Details</button>
                </span>
                <span class="px-2" *ngIf="task == 'updatebankaccount'">
                    <button class="btn btn-primary-filled" type="submit" (click)="updateAccount(PaymentForm.value)">Update Bank Details</button>
                </span>
            </div>
            <button type="button" class="btn primary-btn text-dark" disabled *ngIf="_HelperService.IsFormProcessing">Please wait...</button>
        </div>
    </div>
</ng-container>