input::placeholder{
    color: #7987A1;
}
.btn-neutral-filled{
    background: #7987A1;
    border-radius: 4px;
    width: 5rem;
}
.btn-primary-filled{
    background: #B11A83;
    border-radius: 4px;
}
.btn{
    color: white;
    font-size: 13px;
}
.details_wrapper{
    background: #EAECF5;
    border: 1px solid #C0CCDA;
    border-radius: 5px;
    color: #141414;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
}
.small-icon{
    width: 13px;
}