<div class=" h-v d-flex flex  auth-container" id="auth-container">
    <div class="w-55 d-flex flex-coloumn align-self-center">
        <div class="text-wrapper">
            <p class="px-5">
                <span class="text-yellow">Grow</span> your 
                    <span class="text-yellow">business</span> with <br />ease and confidence<br />
                     from anywhere
            </p>
        </div>
    </div>
    <div class="w-45 d-flex flex-column align-self-center">
        <div class="form-wrapper">
            <div class="pt-4">
                <img src="assets/images/logo/dealday_logo.svg" class="img-fluid img-logo">
            </div>
        <!-- forgot-password -->
        <form [formGroup]="formForgotPassword" (ngSubmit)="_Form_Reset_Process(formForgotPassword.value)" role="form" *ngIf="stpper==1">
            <div class="mt-5 auth-item-title">
                Forgot Password
            </div>
            <div class="auth-item-subtitle mb-3">
                Enter your registered email address to change your dealday account password.
            </div>

            <div class="form-group mt-5" [ngClass]="{'text-danger':!formForgotPassword.controls['username'].valid && formForgotPassword.controls['username'].touched}">
                <label>Business Email Address</label>
                <input tabindex="1" type="text" name="username" maxlength="256" placeholder="We will send a verification code to this email address" class="form-control border-radius: 0.25rem" formControlName="username" aria-describedby="usernameHelpBlock">
                <small id="usernameHelpBlock" class="form-text text-danger" *ngIf="_formForgotPassword['username'].invalid && _formForgotPassword['username'].touched && _formForgotPassword['username'].errors">
                    Invalid email address.
                </small>
            </div>
            <button tabindex="3" type="submit" class="btn btn-pink btn-block mt-5 mb-5" [disabled]="!formForgotPassword.valid || formProcessing">
                <span *ngIf="!formProcessing">
                    Confirm Email Address
                </span>
                <span *ngIf="formProcessing">
                    <i class="fa fa-spinner fa-pulse fa-fw"></i>
                    Please wait...
                </span>
            </button>
        </form>

        <!-- Request OTP -->
        <div *ngIf="stpper==2">
            <div class="mt-5 auth-item-title">
                Request OTP
            </div>
            <div class="auth-item-subtitle mb-3">
                A one-time password (OTP) will be sent to your registered email address for verification. Enter the OTP below.
            </div>

            <div class="form-group mt-5 d-flex justify-content-center align-items-center flex-column">
                <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="{length:4, allowNumbersOnly:true}">
                </ng-otp-input>
                <div class="mt-2">
                    Didn’t receive an email? <span class="tx-semibold tx-14 text-primary">
                        <a type="button" class="cursor-pointer" (click)="ResendCode()">
                            Resend OTP
                        </a>
                    </span>
                </div>
            </div>
            <button tabindex="3" type="submit" class="btn btn-pink btn-block mt-5 mb-5" (click)="verifyOtp()">
                <span *ngIf="!formProcessing"> Reset Password </span>
                <span *ngIf="formProcessing"> <i class="fa fa-spinner fa-pulse fa-fw"></i> Please wait... </span>
            </button>
        </div>

        <!-- Reset Password -->
        <form [formGroup]="formResetPassword" (ngSubmit)="resetPassword(formResetPassword.value)" role="form" *ngIf="stpper==3">
            <div class="mt-5 auth-item-title">
                Reset Password
            </div>
            <div class="auth-item-subtitle mb-3">
                Choose a strong password and don't reuse it for other accounts. Use at least 8 characters (Case Sensitive 1AaEe!@#).
            </div>

            <div class="form-group" [ngClass]="{'text-danger':!formResetPassword.controls['password'].valid && formResetPassword.controls['password'].touched}" (input)="pwdValueChange($event)">
                <div class="d-flex justify-content-between ">
                    <label class="mg-b-0-f">Create Password</label>
                </div>
                <div class="input-group">
                    <input [type]="ShowPassword1 ? 'text' : 'password'" name="password" maxlength="50" class="form-control mb-2" formControlName="password"
                     (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()">
                    <div class="input-group-append h-100 rounded-0">
                        <span class="input-group-text bg-white h-100 rounded-0">
                            <a class="cursor-pointer" (click)="ToogleShowHidePassword('password')">
                                <i-feather [name]="ShowPassword1 ? 'eye' : 'eye-off'" class="password-eye-icon"></i-feather>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <div class="text-danger tx-12  _600" for="Password" *ngIf="formResetPassword.controls['password'].hasError('required') && formResetPassword.controls['password'].touched
                    && (ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">
                    Enter password </div>
                <div class="tx-12  _600" *ngIf="!(ispwdContainsNum && ispwdContainsUC && ispwdContainsLC && IsminLength && isPwdContainsSC)">
                    <span [ngClass]="{'text-success':IsminLength , 'text-danger': !IsminLength}">Password must
                        contain at least 8 characters</span><br />
                    <span [ngClass]="{'text-success':ispwdContainsNum , 'text-danger': !ispwdContainsNum}">Password
                        must contain at least one number (0-9)</span><br />
                    <span [ngClass]="{'text-success':ispwdContainsUC , 'text-danger': !ispwdContainsUC}">Password
                        must contain at least one letter (A-Z)</span><br />
                    <span [ngClass]="{'text-success':ispwdContainsLC , 'text-danger': !ispwdContainsLC}">Password
                        must contain at least one letter (a-z)</span><br />
                    <span [ngClass]="{'text-success':isPwdContainsSC , 'text-danger': !isPwdContainsSC}">Password
                        must contain one special charater</span>
                </div>
            </div>
            <div class="form-group mg-t-15" [ngClass]="{'text-danger':!formResetPassword.controls['confirmPassword'].valid && formResetPassword.controls['confirmPassword'].touched}">
                <div class="d-flex justify-content-between">
                    <label class="mg-b-0-f">Confirm Password</label>
                </div>
                <div class="input-group">
                    <input [type]="ShowPassword2 ? 'text' : 'password'" name="password" maxlength="50" class="form-control mb-2" formControlName="confirmPassword"
                     (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()">
                    <div class="input-group-append h-100 rounded-0">
                        <span class="input-group-text bg-white h-100 rounded-0">
                            <a class="cursor-pointer" (click)="ToogleShowHidePassword('confirmPassword')">
                                <i-feather [name]="ShowPassword2 ? 'eye' : 'eye-off'" class="password-eye-icon"></i-feather>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-pink btn-block mt-5 mb-5" [disabled]="!formResetPassword.valid || formProcessing">
                <span *ngIf="!formProcessing"> Reset Password </span>
                <span *ngIf="formProcessing"> <i class="fa fa-spinner fa-pulse fa-fw"></i> Please wait... </span>
            </button>
        </form>
    </div>
</div>