.review-header{
    background: #FFFFFF;
    border: 0.5px solid #C0CCDA;
    border-radius: 4px 4px 0px 0px;
    display: block;
    padding: 1rem;
}

.table-footer{
    background: #FFFFFF;
    border: 0.5px solid #C0CCDA;
    border-radius: 0px 0px 4px 4px;   
    padding: 0.75rem;
    align-content: center;
    justify-content: space-between;
    display: flex;
}
.table-footer__inner{
   display: flex;
   align-items: center;
}

.nav-wrapper{
    display: flex;
    align-items: center;
}
.pagination-icons{
    color: #C0CCDA;
    width: 15px;
    height: 15px;
}
.border-td > .table-borderless > tbody > tr > td{
    border-bottom: 3px solid #E5E5E5;
    background-color: #FFFFFF;
    color: #586478;
}

.review-header ul.nav .nav-item button{ 
    border:none;
    margin-bottom: 0;
    color: #505666;
}
.review-header ul.nav li.nav-item button.active{
    color:#B11A83;
    font-weight: 500;
    border-bottom: 1px solid #B11A83;
} 

