<div class="container">
    <div class="crumbs-wrapper">
        DEALS / <a class="active-crumb">SETTINGS</a>
    </div>

    <div class="border-td bg-white review-header mt-3 ">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="security-tab" data-toggle="tab" data-target="#security"
                    type="button" role="tab" aria-controls="security" aria-selected="true">Security</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Profile</button>
            </li>
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <!-- security tab-->
            <div class="tab-pane fade show active" id="security" role="tabpanel" aria-labelledby="security-tab">
                <app-security-tab></app-security-tab>
            </div>

            <!-- profile tab-->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <app-profile-tab></app-profile-tab>
            </div>
        </div>
    </div>
</div>