<ng-container>
    <div id="content-to-print">
        <div class="modal-header d-flex justify-content-between" >
        <h6 class="modal-title" id="modal-basic-title">Transaction Details</h6>
        <span>
            <button class="btn primary-btn fs-10">{{item?.StatusName}}</button>
        </span>
        </div>
        <div class="modal-body"ngbAutofocus>
            <div class="row">
                <div class="mt-4">
                    <h6>Merchant Details</h6>
                    <div class="d-flex justify-content-between">
                        <span class="tips">
                            Merchant Name
                        </span>
                        <span>
                            <h6>{{item?.AccountDisplayName}}</h6>
                            <span>{{item?.AccountMobileNumber}}</span>
                        </span>
                    </div>
                    <h6>Bank Details</h6>
                    <div class="d-flex justify-content-between">
                    <span class="d-flex flex-column">
                            <h6 class="tips">
                                Account Name
                            </h6>
                            <h6 class="tips">
                                Bank Account Number
                            </h6>
                            <h6 class="tips">
                                Bank Name
                            </h6>
                    </span>
                        <span class="text-end">
                            <h6>{{item?.BankAccountName}}</h6>
                            <h6>{{item?.BankAccountNumber}}</h6>
                            <h6>{{item?.BankName}}</h6>
                        </span>
                    </div>

                    <h6>Transaction Details</h6>
                    <div class="d-flex justify-content-between">
                        <span class="d-flex flex-column">
                            <h6 class="tips">
                                Transaction ID
                            </h6>
                            <h6 class="tips">
                                Amount
                            </h6>
                            <h6 class="tips">
                                Charge
                            </h6>
                            <h6 class="tips">
                                Total Amount
                            </h6>
                        </span>
                        
                        <span class="text-end">
                            <h6>{{item?.ReferenceNumber}}</h6>
                            <h6>{{item?.Amount}}</h6>
                            <h6>{{item?.Charge}}</h6>
                            <h6>{{item?.TotalAmount}}</h6>
                        </span>
                    </div>

                    <h6>Withdrawal Details</h6>
                    <div class="d-flex justify-content-between">
                        <span>
                            <span class="tips">
                            Transaction Date
                            </span>
                        </span>
                        <span>
                            {{item?.StartDate}}
                        </span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="tips">
                            Requested By
                        </span>
                        <h6>{{item?.AccountDisplayName}}</h6>
                    </div>

                </div> 
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex">
            <span class="px-2">
                <button class="btn btn-primary-filled" (click)="printPdf()">
                    <i-feather name="download" class="small-icon"></i-feather>    
                    Download Invoice</button>
            </span>
            <span class="px-2">
                <button class="btn btn-neutral-filled" (click)="activeModal.close('Close click')">Close</button>
            </span>
        </div>
    </div>
</ng-container>