input::placeholder{
    color: #7987A1;
}
.btn-neutral-filled{
    background: #7987A1;
}
.btn-primary-filled{
    background: #B11A83;
}
.btn{
    color: white;
    font-size: 13px;
    border-radius: 4px;
}
.tips{
    color: #7987A1;
}
#content-to-print{
    font-size: 12px;
}
h6{
    font-size: 12px;
}