.body-wrapper{
    background: rgba(192, 204, 218, 0.3);
    padding-top: 5.5rem;
    padding-bottom: 1rem;
    min-height: 100vh;
}
@media (max-width: 1024px){
    .main-wrapper{
        padding-left:200px !important;
    }
}
@media(max-width: 991px){
    .main-wrapper{
        padding-left: 65px !important;
    }
}
