.nav-link span{
    background: #C0CCDA;
    border-radius: 4px;
    padding: 0.15rem;
    font-size: 14px;
    margin: 0.25rem;
}
.nav-link{
    color: #586478 !important;
    display: flex;
    align-items: center;
    font-family: 'Roboto Regular';
}

.nav-link.active{
    color: #B11A83 !important;
}
.nav-link.active span{
    color: #FFFFFF;
    background-color: #B11A83;
}