input::placeholder{
    color: #7987A1;
}
.btn-neutral-filled{
    background: #7987A1;
}
.btn-primary-filled{
    background: #B11A83;
}
.btn{
    color: white;
    font-size: 13px;
    border-radius: 4px;
}
.tips{
    color: #7987A1;
}
.custom-class .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.custom-class .modal-dialog {
    right: 0;
}

.modal-dialog, .modal-md{
    right: -30rem !important;
}