<ng-container>
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Cashout from Wallet</h6>
    </div>
    <div class="modal-body" ngbAutofocus>
        <div class="row">
             <form  [formGroup]="PaymentForm">
                <div class="form-group">
                    <label>Amount<span class="text-danger">*</span></label>
                    <div class="controls">
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="ml-2 mr-2"
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span>
                                </span>
                            </div>
                            <input type="number" min="0" name="SellingPrice" maxlength="256" class="form-control"
                                        oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                                        (keypress)="_HelperService.PreventTextButAcceptDecimal($event)" 
                                        formControlName="Amount">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Select Bank Account Number <span class="text-danger">*</span></label>
                    <select class="custom-select" id="dealCategory" 
                        (change)="setBankAccount($event)">
                        <option selected disabled>Select Bank</option>
                        <option value="{{ Stringify(item) }}"*ngFor="let item of BankList">
                            {{item?.Name}}
                        </option>
                    </select>
                </div>
                <div class="mt-4">
                    <h6>Cashout Details</h6>
                    <div class="d-flex justify-content-between">
                        <span class="tips">Transfer Balance</span>
                        <div>
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 
                            <span>{{ (ConfigDetails?.TransferBalance || 0) - FormFields['Amount'].value }}</span>
                        </div>
                       
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="tips">Minimum Transfer Amount</span>
                        <div>
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 
                            <span>{{ConfigDetails?.MinimumTransferAmount || 0}}</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="tips">Processing fee</span>
                        <div>
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 
                            <span>{{ConfigDetails?.Charge || 0}}</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <span class="tips">Total</span>
                        <div>
                            <span [innerHtml]="_HelperService.AppConfig.CurrencySymbolCustom"></span> 
                            <span>{{ (ConfigDetails?.Charge || 0 ) + FormFields['Amount'].value}}</span>
                        </div>
                    </div>
                    
                </div> 
             </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex">
            <span class="px-2">
                <button class="btn btn-neutral-filled" (click)="activeModal.close('Close click')">Close</button>
            </span>
            <span class="px-2" *ngIf="!_HelperService.IsFormProcessing">
                <button class="btn btn-primary-filled" (click)="InitiateCashout(PaymentForm.value)" 
                        [disabled]="PaymentForm.invalid">Proceed</button>
            </span>
            <button type="button" class="btn primary-btn text-dark" disabled *ngIf="_HelperService.IsFormProcessing">Please wait...</button>
        </div>
    </div>
</ng-container>