/* You can add global styles to this file, and also import other style files */

:root {
    --sideBarWidth: 240px;
    --white: #ffffff;
  }

@import "~@ng-select/ng-select/themes/default.theme.css";
@font-face {
    font-family: 'Roboto Regular';
    src: url('../src/assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../src/assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Inter Regular';
    src: url('../src/assets/fonts/Inter/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../src/assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../src/assets/fonts/Roboto/Roboto-Light.ttf');
}

body {
    font-size: 14px;
    font-family: 'Roboto Regular';
    transition: all 1.5s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}
.main-wrapper {
    padding-left: 240px;
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
}


body.isCollapsed .main-wrapper{
    padding-left:4rem;
}
body.isCollapsed .header{
    width: calc(100% - 4rem);
}
body.isCollapsed .header_inner{
    padding: 0.7rem;
}
body.isCollapsed .sidebar{
    width: 4rem !important;
}  
.isCollapsed .display-name{
    font-size: 0.5rem;
}
.isCollapsed .sidebar_lower-links span, .isCollapsed .sidebar_lower-links h6, .isCollapsed .role-name{
    display: none;
    pointer-events: none;
}
.isCollapsed .img-container{
    display: none;
}
.isCollapsed .avar-img{
    width: 20px !important;
}
.isCollapsed .logout-img{
    opacity: 0;
}


.fw-500{
    font-weight: 500;
}
.fw-700{
    font-weight: 700;
}
.w-500p{
    width: 500px;
}
.w-250p{
    width: 250px;
}
.fs-10{
    font-size: 10px;
}
.fs-12{
    font-size: 12px;
}
/* modal css */

.modal-content {
    border-radius: 0;
    border: 1px solid #C0CCDA;
}
.w-300p{
    width: 300px;
}


/* form css */

input.form-control,
textarea.form-control,
select.form-control,
select.custom-select {
    border: 1px solid #C0CCDA;
    border-radius: 2px;
    outline: none;
}

.customized-select {
    height: 30px;
    border-radius: 4px;
    border: 1px solid #C0CCDA;
}

button.btn.btn-outline-simple {
    border: 1px solid #C0CCDA;
    border-radius: 1px solid #C0CCDA;
    border-radius: 0;
}

button.btn.btn-outline-simple:active {
    color: #6c757d;
    background-color: #fff;
    border-color: #6c757d;
}

button.btn.btn-outline-simple:active,
button.btn.btn-outline-simple:focus {
    box-shadow: none;
    outline: none;
}

button.btn.btn-outline-simple:hover {
    color: #6c757d;
    background-color: #fff;
    border-color: #C0CCDA;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

label {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.primary-btn, .primary-btn:hover{
    background: #B11A83;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 14px;
}

.neutral-btn {
    background-color: #C0CCDA;
    border-radius: 4px;
    color: #001737;
    font-size: 14px;
}

.secondary-btn {
    background: #E2E5ED;
    border: 1px solid #C2CCD9;
    border-radius: 4px;
    color: #7987A1;
}

.white-btn {
    background: #FFFFFF;
    border: 1px solid #E6EAFB;
    border-radius: 2px;
    font-size: 14px;
}

.small-icon {
    width: 20px;
    height: 25px;
}


/* .active-crumb{
    color: #B11A83;
} */

.crumbs-wrapper {
    background: #E5E9F2;
    border-radius: 4px;
    padding: 1rem;
    font: normal 500 10px/11.72px 'Roboto Medium';
}

.crumbs-wrapper span {
    font-weight: 500;
}

.crumbs-wrapper .active-crumb {
    text-decoration: none;
    color: #B11A83;
}

.primary-text {
    color: #B11A83;
}

.btn-pink,
.btn-pink:disabled {
    color: #fff;
    background-color: #B11A83;
    border-color: #B11A83;
}

.btn-pink:active,
.btn-pink:focus-visible,
.btn-pink:hover {
    color: #fff;
    background-color: #B11A83;
    border-color: #B11A83;
}

.table td {
    font-weight: 400;
    font-size: 14px;
    color: #586478;
}

.cursor-pointer {
    cursor: pointer;
}


/*Listing CSS*/

.review-header {
    background: #FFFFFF;
    border: 0.5px solid #C0CCDA;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 0.55rem;
    align-items: center;
    flex-wrap: wrap;
}

.review-header_params {
    color: #586478;
    display: flex;
}

.table-footer {
    background: #FFFFFF;
    border: 0.5px solid #C0CCDA;
    border-radius: 0px 0px 4px 4px;
    padding: 0.75rem;
    align-content: center;
    justify-content: space-between;
    display: flex;
}

ul.custom-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.custom-nav li {
    padding: 0.25rem;
    cursor: pointer;
    height: 30px;
    transition: all 0.7s ease-in;
    min-width: 2rem;
    text-align: center;
}

.nav-count {
    border: 1px solid #595959;
    color: #595959;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 2px;
}

.nav-count:hover {
    background: #413994;
    color: #FFFFFF;
}

.nav-count.activePage {
    background: #413994;
    color: #FFFFFF;
}

.table-footer__inner {
    display: flex;
    align-items: center;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

ul.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.list-icon {
    font-size: 10px;
}

.pagination-icons {
    color: #C0CCDA;
    width: 15px;
    height: 15px;
}

.review-header_params span {
    background: #C0CCDA;
    border-radius: 4px;
    padding: 0.15rem;
    font-size: 14px;
    margin: 0.25rem;
}

.review-header_params .active-panel {
    color: #B11A83;
}

.active-panel>span {
    color: #FFFFFF;
    background-color: #B11A83;
}

thead>tr>th {
    border-bottom: 1px solid #C0CCDA;
}

.border-td>.table-borderless>thead>tr>th {
    border-bottom: 5px solid rgba(192, 204, 218, 0.3);
    background-color: #FFFFFF;
    font-family: 'Roboto Medium';
    padding: 1rem 0.5rem;
}

.border-td>.table-borderless>tbody>tr>td {
    border-bottom: 5px solid rgba(192, 204, 218, 0.3);
    background-color: #FFFFFF;
}

.xsm-icon {
    width: 16px !important;
}

.notie-alert {
    z-index: 1200 !important;
}

.notie-container {
    font-size: 0.8rem;
    height: auto;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
    -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 900px) {
    .notie-container {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 750px) {
    .notie-container {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 400px) {
    .notie-container {
        font-size: 0.8rem;
    }
}

.notie-background-success {
    background-color: #20ab68;
}

.notie-background-warning {
    background-color: #fda61c;
}

.notie-background-error {
    background-color: #e9223f;
}

.notie-background-info {
    background-color: #8673ea;
}

.notie-background-neutral {
    background-color: #a0a0a0;
}

.notie-background-overlay {
    background-color: #fff;
}

.notie-textbox {
    color: #fff;
    padding: 10px 20px;
}

.notie-textbox-inner {
    margin: 0 auto;
    max-width: 900px;
}

.notie-overlay {
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.notie-alert,
.notie-button {
    cursor: pointer;
}

.notie-button,
.notie-element {
    color: #fff;
    padding: 10px;
}

.notie-element-half {
    width: 50%;
}

.notie-element-half,
.notie-element-third {
    display: inline-block;
    box-sizing: border-box;
}

.notie-element-third {
    width: 33.3333%;
}

.notie-input-field {
    background-color: #fff;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    outline: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.notie-select-choice-repeated {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    box-sizing: border-box;
}

.notie-date-selector-inner {
    margin: 0 auto;
    max-width: 900px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.notie-date-selector-inner [contenteditable],
.notie-date-selector-inner [contenteditable]:focus {
    outline: 0 solid transparent;
}

.notie-date-selector-up {
    transform: rotate(180deg);
}

.ng-select.ng-select-custom {
    border: 0px;
    min-height: 0px;
    border-radius: 2px;
}

.ng-select.ng-select-custom .ng-select-container {
    border-radius: 2px;
}

.pac-container {
    z-index: 100000;
}

.anchorhref {
    text-decoration: none;
}

.dropdown-menu .dropdown-item {
    cursor: pointer;
}

.img-logo {
    width: 120px;
    height: 38px;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
  }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  .styled-checkbox + label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #8B92A4;
    border-radius: 5px
  }
  .styled-checkbox:hover + label:before {
    background: #B11A83;
  }
  .styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }
  .styled-checkbox:checked + label:before {
    background: #B11A83;
    border-radius: 5px
  }
  .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }
  .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #8B92A4;
  }
  .styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
  }

  .pointer{
    cursor: pointer;
  }
  .right-modal .modal-dialog{
    right: -30rem !important;
  } 