<section>
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <h6 class="m-0 align-items-center d-flex">Business Information</h6>
                <span class="d-flex align-items-center cursor-pointer py-1" (click)="BusinessInfoEditable = true"
                    *ngIf="!BusinessInfoEditable">
                    <img class="mr-2" src="assets/images/icons/edit-pen.svg" alt="edit-pen">
                    Edit</span>
                <span class="d-flex align-items-center cursor-pointer" (click)="BusinessInfoEditable = true"
                    *ngIf="BusinessInfoEditable">
                    <button class="btn btn-pink py-1" *ngIf="!_HelperService.IsFormProcessing" (click)="submitForm()">Save</button>
                    <button class="btn btn-pink py-1" disabled *ngIf="_HelperService.IsFormProcessing">Please wait..</button></span>
            </div>
        </div>
        <div class="card-body Business-info_form">
            <div class="row" *ngIf="!BusinessInfoEditable">
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" width="48px" height="48px" [src]="_MerchantDetails.IconUrl" alt="phone">
                    <div class="d-flex flex-column">
                        <h6 class="mb-1">{{_MerchantDetails.DisplayName || "--"}}</h6>
                        <label for="businessName">Business Name</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" width="48px" height="48px" src="assets/images/icons/phone.svg" alt="phone">
                    <div class="d-flex flex-column">
                        <h6 class="mb-1">{{_MerchantDetails.ContactNumber || "--"}}</h6>
                        <label for="phoneNumber">Phone Number</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" width="48px" height="48px" src="assets/images/icons/code.svg" alt="code">
                    <div class="d-flex flex-column">
                        <h6 class="mb-1">{{_MerchantDetails.AccountCode || "--"}}</h6>
                        <label for="merchantID">Merchant’s ID</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" width="48px" height="48px" src="assets/images/icons/email.svg" alt="email">
                    <div class="d-flex flex-column">
                        <h6 class="mb-1">{{_MerchantDetails.EmailAddress || "--"}}</h6>
                        <label for="email">Mail Address</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" width="48px" height="48px" src="assets/images/icons/website.svg" alt="website">
                    <div class="d-flex flex-column">
                        <h6 class="mb-1">{{_MerchantDetails.WebsiteUrl || "--"}}</h6>
                        <label for="websiteLink">Website Link</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" width="48px" height="48px" src="assets/images/icons/health-heart.svg"
                        alt="health-heart">
                    <div class="d-flex flex-column">
                        <h6 class="mb-1">
                            <ng-container *ngIf="_MerchantDetails.Categories && _MerchantDetails.Categories.length; else noData">
                                <span *ngFor="let El of _MerchantDetails.Categories; let last = last">{{El.Name}}<span *ngIf="!last">, </span></span>
                            </ng-container>
                            <ng-template #noData>--</ng-template>
                        </h6>
                        <label for="businessCategory">Business Category</label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" width="48px" height="48px" src="assets/images/icons/marker.svg" alt="marker">
                    <div class="d-flex flex-column">
                        <h6 class="mb-1">{{_MerchantDetails.Address || '--'}}</h6>
                        <label for="address">Address</label>
                    </div>
                </div>
            </div>
            <form class="row" *ngIf="BusinessInfoEditable">
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" [src]="_MerchantDetails.IconUrl" width="48px" height="48px" alt="phone">
                    <div class="d-flex flex-column info_form-control">
                        <input class="mb-1" type="text" name="DisplayName"
                            [(ngModel)]="_MerchantDetails.DisplayName" placeholder="Business name" id="DisplayName" maxlength="256" />
                        <label for="businessName">Business Name</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" src="assets/images/icons/phone.svg" alt="phone">
                    <div class="d-flex flex-column info_form-control">
                        <input class="mb-1" type="text" name="ContactNumber"
                            [(ngModel)]="_MerchantDetails.ContactNumber" placeholder="Phone Number" maxlength="14" oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
                        <label for="phoneNumber">Phone Number</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" src="assets/images/icons/code.svg" width="48px" height="48px" alt="code">
                    <div class="d-flex flex-column info_form-control">
                        <input class="mb-1" type="text" name="AccountCode" [(ngModel)]="_MerchantDetails.AccountCode"
                            placeholder="Merchant’s ID" />
                        <label for="merchantID">Merchant’s ID</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" src="assets/images/icons/email.svg" width="48px" height="48px" alt="email">
                    <div class="d-flex flex-column info_form-control">
                        <input class="mb-1" type="text" name="EmailAddress" [(ngModel)]="_MerchantDetails.EmailAddress"
                            placeholder="Mail Address" />
                        <label for="email">Mail Address</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" src="assets/images/icons/website.svg" width="48px" height="48px" alt="website">
                    <div class="d-flex flex-column info_form-control">
                        <input class="mb-1" type="url" name="WebsiteUrl" [(ngModel)]="_MerchantDetails.WebsiteUrl"
                            placeholder="Website Link" />
                        <label for="WebsiteUrl">Website Link</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" src="assets/images/icons/health-heart.svg" width="48px" height="48px"
                        alt="health-heart">
                    <div class="d-flex flex-column info_form-control">
                        <ng-select class="ng-select-custom" [items]="S2BusinessCategories" [multiple]="true"
                            bindLabel="text" bindValue="id" placeholder="Select Category" [clearable]="false"
                            [searchable]="true" [(ngModel)]="_MerchantDetails.CategoryDetails"
                            (ngModelChange)="CategoryChange($event)" [ngModelOptions]="{standalone: true}">
                        </ng-select>
                        <label for="businessCategory">Business Category</label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" src="assets/images/icons/marker.svg" width="48px" height="48px" alt="marker">
                    <div class="d-flex flex-column info_form-control w-100">
                        <input class="mb-1" type="text" name="MapAddress" maxlength="256" class="hcx-locator-input"
                            ngx-google-places-autocomplete [ngModel]="MerchantAddress.Address"
                            (onAddressChange)="AddressChange($event)" />
                        <label for="address">Address</label>
                    </div>
                    <span class="d-flex align-items-center">
                        <i class="fas fa-circle-notch fa-spin fa-2x" *ngIf="loadingAddressData" style="color:grey"></i>
                    </span>
                </div>
                <div class="col-12 p-0">
                    <google-map height="248px" width="100%" [center]="center" [zoom]="zoom" [options]="options">
                        <map-marker [position]="markerPosition" [options]="markerOptions"></map-marker>
                    </google-map>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between py-2">
                <h6 class="m-0">Contact Information</h6>
                <span class="d-flex align-items-center cursor-pointer" (click)="ContactInfoEditable = true"
                    *ngIf="!ContactInfoEditable">
                    <img class="mr-2" src="assets/images/icons/edit-pen.svg" alt="edit-pen">
                    Edit</span>
                <span class="d-flex align-items-center cursor-pointer" *ngIf="ContactInfoEditable">
                    <button class="btn btn-pink py-1" *ngIf="!_HelperService.IsFormProcessing" (click)="submitForm()">Save</button>
                    <button class="btn btn-pink py-1" disabled *ngIf="_HelperService.IsFormProcessing">Please wait..</button></span>
            </div>
        </div>
        <div class="card-body">
            <div class="row" *ngIf="!ContactInfoEditable">
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" width="48px" height="48px" src="assets/images/icons/user.svg" alt="user">
                    <div class="d-flex flex-column">
                        <h6 class="mb-1">{{MerchantContactPerson?.FirstName || '--'}}</h6>
                        <label for="FirstName">First Name</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" width="48px" height="48px" src="assets/images/icons/user.svg" alt="user">
                    <div class="d-flex flex-column">
                        <h6 class="mb-1">{{MerchantContactPerson?.LastName || '--'}}</h6>
                        <label for="LastName">Last Name</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" width="48px" height="48px" src="assets/images/icons/phone-black.svg" alt="phone">
                    <div class="d-flex flex-column">
                        <h6 class="mb-1">{{MerchantContactPerson?.MobileNumber || '--'}}</h6>
                        <label for="PhoneNumber">Phone Number</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" width="48px" height="48px" src="assets/images/icons/mail_black.svg" alt="email">
                    <div class="d-flex flex-column">
                        <h6 class="mb-1">{{MerchantContactPerson?.EmailAddress || '--'}}</h6>
                        <label for="email">Mail Address</label>
                    </div>
                </div>
            </div>
            <form class="row Contact-info_form" *ngIf="ContactInfoEditable">
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" width="48px" height="48px" src="assets/images/icons/user.svg" alt="user">
                    <div class="d-flex flex-column info_form-control">
                        <input class="mb-1" type="text" name="FirstName" [(ngModel)]="MerchantContactPerson.FirstName"
                            placeholder="First Name" id="FirstName" />
                        <label for="FirstName">First Name</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" width="48px" height="48px" src="assets/images/icons/user.svg" alt="user">
                    <div class="d-flex flex-column info_form-control">
                        <input class="mb-1" type="text" name="LastName" [(ngModel)]="MerchantContactPerson.LastName"
                            placeholder="Last Name" id="LastName" />
                        <label for="LastName">Last Name</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" width="48px" height="48px" src="assets/images/icons/phone-black.svg" alt="phone">
                    <div class="d-flex flex-column info_form-control">
                        <input class="mb-1" type="text" name="MobileNumber"
                            [(ngModel)]="MerchantContactPerson.MobileNumber" placeholder="Phone Number"
                            id="MobileNumber" maxlength="14" oninput="this.value=this.value.replace(/[^0-9]/g,'');" />
                        <label for="PhoneNumber">Phone Number</label>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 d-flex mb-4 mt-4">
                    <img class="mr-2" width="48px" height="48px" src="assets/images/icons/mail_black.svg" alt="email">
                    <div class="d-flex flex-column info_form-control w-100">
                        <input class="mb-1" type="text" name="EmailAddress"
                            [(ngModel)]="MerchantContactPerson.EmailAddress" placeholder="Mail Address"
                            id="EmailAddress" />
                        <label for="email">Mail Address</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>