.card-body label {
    font-size: 12px;
    color: #8B92A4;
}

.card-body .info_form-control {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #EBEEF2;
    width: 280px;
    max-width: 100%;
}

.card-body .info_form-control input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}

::ng-deep .Business-info_form .ng-select .ng-select-container {
    border: none;
}
::ng-deep .Business-info_form .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding: 0;
}

::ng-deep .Business-info_form .ng-select .ng-select-container:hover {
    box-shadow: none;
}

::ng-deep .Business-info_form .map-container {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.Business-info_form{
    padding: 12px 12px 0;
    margin-bottom: -1px;
}