<ng-container>
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Confirm Logout</h6>
    </div>
    <div class="modal-body text-center" ngbAutofocus>
        <div class="my-3">
            <h5>Are you sure you want to logout?</h5>
        </div>
        <div class="d-flex justify-content-center pb-2">
            <div class="p-2">
                <button class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Cancel</button>
            </div>
            <div class="p-2">
                <button class="btn btn-danger" (click)="processLogout()">Logout</button>
            </div>
        </div>
    </div>
</ng-container>